[2017-10-17 15:50] Arantor commented on #4361
Specifically: the check for fonts looks for a folder that contains the font images having the same name as a .gdf file in the fonts folder. Given that the font might be called AnonymousPro and the folder be 'anon', this isn't going to work out.

Additionally, anon has mixed case filenames, which is also bad.

[2017-10-18 05:49] #4203 closed, assigned to Sesquipedalian

[2017-10-19 04:00] albertlast opened #4362 "corrupt cookies doesn't get fixed"
When a mod change the cookie, an old version get the smf cookie in a different format or a bad guy,
then the cookie doesn't get fixed,
since we fix only cookies when the are not corrupted: https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/Sources/Subs-Auth.php#L41

Possible fix is provided in pr https://github.com/SimpleMachines/SMF2.1/pull/4358

[2017-10-20 17:32] Sesquipedalian commented on #4297
Reopening after reverting #4353

[2017-10-20 17:35] Sesquipedalian commented on #4362
Is this still relevant now that #4353 has been reverted?

[2017-10-20 17:35] Sesquipedalian commented on #4357
Is this still relevant now that #4353 has been reverted?

[2017-10-20 17:39] #4355 closed, assigned to nobody

[2017-10-20 19:52] albertlast commented on #4362
Sure

[2017-10-20 20:01] albertlast opened #4364 "Cookie will be not destroyed when you change from global to local"
Since https://github.com/SimpleMachines/SMF2.1/pull/4363 you introduce
that the cookie get not deleted when you change from global to local cookie

[2017-10-20 20:04] albertlast opened #4365 "While login a new session id is generated"
Since revert pr https://github.com/SimpleMachines/SMF2.1/pull/4363
you get a new session id while login process which generate the error
that the session runs out.

[2017-10-20 20:09] albertlast opened #4366 "Cookie will be not destroy when the board move to subfolder"
When you got local cookie and change the board from exp. /smf to /smf/test
the cookie get lost smf is not able to delete/destroy the cookie
This issue is reintroduce by  https://github.com/SimpleMachines/SMF2.1/pull/4363

[2017-10-20 20:13] albertlast opened #4367 "Json object from cookie date"
the code line https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/Sources/Load.php#L423
could create json object instead of an array,
since decline pr which it fixed you keeping this.

[2017-10-20 20:15] albertlast opened #4368 "Unsafe cookie deleting"
Since reverting pr https://github.com/SimpleMachines/SMF2.1/pull/4363
the cookie get deleting by setting time back to now() - 1 hour,
which can lead in issue because of time zone stuff.

[2017-10-20 20:27] albertlast opened #4369 "Logout user get checked validatePasswordFlood"
With reverting pr https://github.com/SimpleMachines/SMF2.1/pull/4363
the logout user get again checked if the passwordflooded while calling the board normaly.
https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/Sources/Load.php#L479

[2017-10-20 21:37] sbulen commented on #4357
No, these issues were caused by #4353.

This can be closed.

[2017-10-20 21:43] sbulen commented on #4297
This should be resolved by #4356.

I am out of town at the moment, but will retest upon return in a couple days.   Just to be safe, since the code in this area has been in flux.

[2017-10-20 22:01] sbulen commented on #4369
This is a dupe of #4297.

[2017-10-20 22:03] #4357 closed, assigned to nobody

[2017-10-20 22:03] sbulen commented on #4366
This is a dupe of #4297

[2017-10-20 22:04] #4369 closed, assigned to nobody

[2017-10-20 22:11] albertlast commented on #4366
Nope this issue the not mention,
The base of this issue is the missing path info in data.

________________________________
Von: Jon Stovell <notifications@github.com>
Gesendet: 21.10.2017 12:04 vorm.
An: SimpleMachines/SMF2.1
Cc: albertlast; Author
Betreff: Re: [SimpleMachines/SMF2.1] Cookie will be not destroy when the board move to subfolder (#4366)

Closed #4366<https://github.com/SimpleMachin

[2017-10-21 02:45] sbulen commented on #4362
Do we allow mods to redefine the cookie?

[2017-10-21 03:34] albertlast commented on #4362
You can't prohibt this, because the mod can rewrite the smf code (and it's a stupid idea to do so)

[2017-10-21 16:20] sbulen commented on #4365
This will be addressed by #4356

[2017-10-21 16:20] sbulen commented on #4364
This will be addressed by #4356

[2017-10-21 16:22] albertlast commented on #4365
And where there?

[2017-10-21 16:22] albertlast commented on #4364
And where ther?

[2017-10-21 16:32] sbulen commented on #4365
The extra session was created because the cookie state change was not detected. Fixing the preg_match restores the cookie & session cleanup logic that was working in 2.0.

[2017-10-21 16:34] sbulen commented on #4364
Same as in the other note:

The extra session was created because the cookie state change was not detected. Fixing the preg_match restores the cookie & session cleanup logic that was working in 2.0.

[2017-10-21 18:38] albertlast commented on #4365
Nope the session keeps changing.
So instead of fixing this,
you didn't check the session id any more which is my eyes a new security issue.

[2017-10-21 19:01] albertlast commented on #4366
i checked the pr from sbulen and he didn't fix the issue.

[2017-10-22 14:50] sbulen commented on #4365
New session IDs are generated upon login on purpose.  This is a security measure:
https://stackoverflow.com/questions/22965067/when-and-why-i-should-use-session-regenerate-id

The code to do so is in setLoginCookie.

The "extra session" bug had to do with logging OUT.   Cleaning up the cookie and session takes place on logout, not login.

This wasn't working upon cookie state changes.  Properly de

[2017-10-22 16:47] tinoest opened #4371 "jQuery Core now v3.2.1"
If you're preparing for a release I would bump the jQuery to the latest version it is now at v3.2.1

http://jquery.com/download/

I don't see any backwards incompatible changes.

[2017-10-22 17:06] albertlast commented on #4365
When you look into the code you solve this issue by not checking the session_var and the sc field from the login form,
which is the security issue.
The reason why you not checking this,
that the new session_id is generated before login process is done.

[2017-10-23 20:08] Camo1x opened #4372 "General Error - Sub.php"
[![Screenshot from Gyazo](https://gyazo.com/9f4f0d036b3c9e975f336b06f4564e8c/raw)](https://gyazo.com/9f4f0d036b3c9e975f336b06f4564e8c)

https://github.com/SimpleMachines/SMF2.1/blob/b61572edff4b8ac488c462586908c80fdb3b32fd/Sources/Subs.php#L3490

Have been recently getting this error from this line apparently

[2017-10-24 05:36] albertlast commented on #4372
I think the var $time_start got something wrong,
but this only setted on two places https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/index.php#L29
and
https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/SSI.php#L28
i see not possible that here you got something else als numbers.

I would guess that you got a mod or old files which are not synced/updated,
can you please look in you e

[2017-10-24 05:44] sbulen commented on #4366
Note a correction: this issue is not a dupe of #4297.

[2017-10-24 16:00] jdarwood007 commented on #4366
By board you mean forum I assume?

[2017-10-24 16:03] albertlast commented on #4366
Sure,
Like i already mention,
the issue for this is the missing information of the path from the cookie (which was already fixed in my pr)

[2017-10-24 23:27] MissAllSunday commented on #3249
I just read the announcement about focusing on bug fixes only and while I agree I was thinking about this particular issue. I have a [working class](https://github.com/MissAllSunday/zim/blob/master/app/Models/Auth.php#L5) for using a hash/token cookie. I've been working on porting that to SMF, question is @colinschoen, @Sesquipedalian  would you guys be interested on adding this feature as a "last

[2017-10-25 11:47] XinYenFon commented on #4330
I think this is no more than a forgotten code, should be easy to fix with bringing MessageIndex code to Recent (tho still needs to be checked).

[2017-10-27 20:06] #4332 closed, assigned to nobody

[2017-10-28 16:22] Gwenwyfar commented on #4343
I have submitted a fix, but we may need to expand it to some other places where images/avatars are used that may have the same problem.

[2017-10-28 16:38] Gwenwyfar commented on #4343
So we have the same alt text displaying on topics, profile and user menu, although the text doesn't break anything on those.

[2017-10-29 22:16] sbulen commented on #4366
My problem with this issue is that I think it ends up defeating the purpose of the localCookie setting.

Local cookies are intended to allow support for different forums in different subfolders.  I.e., each forum is in a unique subfolder and there is a corresponding cookie.  If you make cookie behavior independent of the subfolder, you have essentially disabled localCookies, i.e., they are now glo

[2017-10-30 04:56] albertlast commented on #4366
The behavior of the localcookies didn't change,
so your comment make no sense.

[2017-11-02 07:29] colinschoen opened #4379 "XSS Profile Fields"
HTML tags are not being sanitized from profile field values creating a stored cross site scripting vulnerability.

<img width="684" alt="screen shot 2017-11-02 at 00 28 08" src="https://user-images.githubusercontent.com/2927722/32314388-edb67484-bf64-11e7-8cf5-391c261e7534.png">
<img width="881" alt="screen shot 2017-11-02 at 00 27 56" src="https://user-images.githubusercontent.com/2927722/3231438

[2017-11-02 14:20] Gwenwyfar commented on #4379
Could this be more specific to one set of options? I can't replicate in some tests here.

Edit: Got it. Doesn't happen when viewing the profile, but does inside topics.

[2017-11-02 20:49] colinschoen commented on #4372
Any update @camo1x

[2017-11-03 00:07] MissAllSunday commented on #4379
This depends on how do you guys want to handle all the cases, no html is pretty specific but what about the other cases?

Should we add a list of "allowed tags" somewhere?  I believe I added a whitelist for the category and board descriptions, we can use that one.

[2017-11-03 01:03] MissAllSunday commented on #4379
That commit deals with the nohtml validation but it depends on the user selecting the nohtml mask option.

We can either force html stripping automatically if the "text" option is selected, regardless of whatever mask the admin selected, or completely disable HTML for all field types. Theres no middle ground or rather, a clean, effective way to sanitize user input and still offer flexibility.

[2017-11-03 01:10] colinschoen commented on #4379
^ This seems fine considering all of the other validation options are more restrictive than `NOHTML` except potentially regex, but that will be up to the user. Do you want to make a PR?

[2017-11-03 15:50] MissAllSunday commented on #4379
Yeah will do.

[2017-11-04 05:52] Oldiesmann commented on #4371
I tested it briefly on my test board (by setting a custom jQuery URL in the admin center and pointing it to https://code.jquery.com/jquery-3.2.1.min.js) and didn't run into any issues, so this should be fine. Might want to test it a bit more thoroughly to be sure though.

[2017-11-04 09:52] wintstar opened #4381 "Gender Icon profile fields Multilanguage Bug"
The Gender icon  Status ist not display in other language. As an example in German.

The bug is in INPUT.
`generic_icons gender_{INPUT}`
Input is the replacement for  None, Male or Female. But when it is translated in the admin center => Custom profile fields,  it results to  keine Angabe, Männlich oder Weiblich.

![gender_german-1](https://user-images.githubusercontent.com/2753863/32404339-1f48ad

[2017-11-05 06:24] albertlast commented on #4381
Like already mention from you,
you need two information:
- the orginal db value (male,femal, etc) for technical stuff like css class
- the translatet db value for displaying

So in my eyes the main issue is the missing translation function of customfields like here the gender.

Beside of {INPUT} which return the database value,
which you need in your css class (in english) you need somethinkg like

[2017-11-05 16:17] Arantor opened #4382 "Avatars on board index hidden setting doesn't work"
Putting aside the fact that the hidden setting doesn't do anything visible when enabled (which is by design rather than an oversight), the logic doesn't work on the board index correctly. In Subs-BoardIndex.php, it this:

[code]

The last element of that array should use $row_board not $row.

[2017-11-05 18:12] #4382 closed, assigned to nobody

[2017-11-05 20:20] MissAllSunday opened #4385 "total attachment size reset"
The total attachment size var in smf_fileUpload.js doesn't get reseted when a file is canceled

Steps to reproduce:

- Set a total attachment size limit, SMF by default uses 192KB.
- Upload a file bigger than that size. for example 256KB
- Cancel the file.
- Upload another file. doesn't matter which size, as an example, 50KB

The old file is still counted towards the total size, the new file will

[2017-11-05 20:33] MissAllSunday opened #4386 "total attachments amount"
The total amount of attachments an user can upload isn't been applied.

By default SMF limits the number of attachments to 4, currently the user can keep on dragging or selecting files with no limit been applied.

The file extension check also isn't been applied, by default SMF doesn't allow .php files but I could keep added them.

![image](https://user-images.githubusercontent.com/3420756/3241881

[2017-11-05 21:47] sbulen commented on #4385
Confirmed.    Yes, this had been working, as recently as January.

[2017-11-05 21:52] sbulen commented on #4386
Confirmed.  Both issues - extensions & counts.

Yes, this had been working earlier.

[2017-11-05 22:21] MissAllSunday commented on #4385
I'll take a look at this and the other issue. I didn't quite enjoyed working with JS back then but I do now.

[2017-11-05 22:56] sbulen commented on #4386
Problems with those buttons, too...

[2017-11-06 07:09] wintstar commented on #4381
Fix https://github.com/SimpleMachines/SMF2.1/pull/4383 works.  Good solution @MissAllSunday .

[2017-11-06 15:56] albertlast commented on #4381
please close issue only when the pr is merged (mostly they get closed)

[2017-11-06 16:45] wintstar commented on #4381
Ok, I didn't know.

[2017-11-10 18:55] sbulen opened #4387 "Search - fulltext not allowed if db not myisam"
On a newly installed 2.1 forum, pulled up the Search Method form, and received the following prompt:
![image](https://user-images.githubusercontent.com/23568484/32673659-daef9960-c604-11e7-9cc6-e4afd2cda065.png)

Since it was a new install, the tables were innodb, and this failed the old 2.0 edit that required myisam.

I do think InnoDB supports fulltext these days, mysql 5.6+.  I do not know if i

[2017-11-10 19:07] albertlast commented on #4387
Duplicate to https://github.com/SimpleMachines/SMF2.1/issues/1571
i got no motivation to look into.

[2017-11-12 22:24] illori commented on #4387
we are recommending users to create a custom index, might it be easier to only leave that option along with no index?

[2017-11-12 22:35] Oldiesmann commented on #4387
While the custom index is recommended, I don't see why we can't support it on InnoDB as well, as long as it doesn't require any major changes.

Other than that we should probably hide the fulltext option if it's not supported.

[2017-11-13 04:51] albertlast commented on #4387
Why not raised the min mysql version to 5.6(and the compareable mariadb version) -> problem solve.

[2017-11-13 06:29] Oldiesmann commented on #4387
It doesn't really offer any benefit, and 5.5 is still widely used. It shouldn't be too hard to make sure we're checking the MySQL/MariaDB version before displaying that message.

[2017-11-13 16:11] MissAllSunday commented on #4371
Might be good to also take a look at all the plugins currently in use and do a an update if available.

[2017-11-14 20:48] replikacep commented on #4331
SMF 2.1 sanctions canceled
 progress is very slow

[2017-11-17 13:01] PortaMx commented on #4381
I don't understand the complicated way they SMF go for this.
Why not simple put the gender (as smallint) in the members table (default 0)?
So you need not the join over other tables for all basic memberdata.

[2017-11-18 23:10] sbulen commented on #4387
Looks like there was work to enhance the checks here a while back.  There is a minor problem with checking the version for innodb.  Wrapping up testing & will submit PR shortly.

[2017-11-19 20:23] replikacep opened #4389 "e-mail sending"
Happy Birthday e-mail sending
we are receiving spam because of this mail?
sends too many mail
The members are going to e-mail you need to set the setting to close
no option to turn on / off
So the option is not working

https://i.hizliresim.com/mJZ6YY.png

[2017-11-19 23:15] jdarwood007 commented on #4387
We should be getting the db type information now.  I remember extending that for the stat collection data.

[2017-11-20 01:17] jdarwood007 opened #4390 "Unapproved posts"
When you uncheck "Approve this post", the post is still approved.

[2017-11-20 10:23] Gwenwyfar commented on #4381
If I understand it correctly, this field was changed to be a custom field, and therefore removed from the basic user data table.

[2017-11-21 11:30] illori commented on #4390
confirmed, when you post and expand the attachments and other options area, uncheck approve this post and the post is still approved.

[2017-11-21 11:30] illori commented on #4389
did you disable the scheduled task?

[2017-11-21 18:34] colinschoen commented on #3249
I’d be in favor, yes.

[2017-11-21 18:34] colinschoen commented on #4390
Note this exists in 2.0 too.

[2017-11-23 20:56] sbulen commented on #4361
It would be easy enough to check for GD support on install & upgrade.

Based on prior discussion (#4148), I thought GD library was standard with php installs.  I could never find a doc explicitly stating that, though.  So maybe it is safest to add a test.

Would a check for a specific font name also be appropriate?  I'm not sure what to do about potential font issues.  Should that be an install/up

[2017-11-23 21:58] Arantor commented on #4361
We found out about it on the basis that we were doing tests using Cloud9 which doesn't ship any of the PHP extensions by default (as it's based on Debian). Surprising what breaks under that situation.

In the case of the fonts - there's several fonts of font fallback images, which could be used but fail to be used because the names don't match what is expected. This list of viable replacements cou

[2017-11-24 19:00] sbulen commented on #4361
As an FYI - GD is listed as a recommendation in 2.0.x:
https://wiki.simplemachines.org/smf/SMF2.0:Requirements_and_recommendations

Still, I agree the edit is smart to do.

I'm still thinking about the font.  What I've read indicates GD has a set of 'default' fonts with simple stupid names, "1" "2" "3" "4" and "5" that correspond to different sizes.  If we use the default font, that may sidestep a

[2017-11-24 19:28] Arantor commented on #4361
That's not the problem.

If you don't have GD, you can't use GD's fonts - so you have to use the image fallbacks that are given - look in the theme folder, you'll see a fonts folder in which are folders containing pre-made images for the CAPTCHA. The problem is that SMF in its current code cannot find those folders and thus those images.

There isn't a problem if GD is enabled, which is what every

[2017-11-24 19:31] sbulen commented on #4361
Ah, thanks...   So if we make GD a requirement, there is no issue.

I'm leaning towards making GD a requirement, myself...  It is implemented pretty broadly.

(Those builds with NO addons like Cloud9 strike me as a special form of masochism...)

[2017-11-25 11:51] illori commented on #4361
i thought when i changed the font for the CAPTCHA i created the images with the correct names so they would work. i believe i had tested with GD disabled but i cant recall.

[2017-11-25 20:32] joshuaadickerson commented on #3249
The impact would be that everyone would be logged out.

[2017-11-25 22:31] albertlast commented on #3249
Since the cookie got only the salted pw hash and
the cookie is only send when you are get in touch with smf...

Get me to the point where this in my eyes is not a big issue,
so ther is no need for smf 2.1 release,
could create new issue in the upgrade process.

So instead of introduce new issue, you should fix the other/existing cookie issues.

[2017-11-26 18:55] replikacep commented on #4389
the problem is  subject can be closed

[2017-11-26 19:01] replikacep commented on #4389
rc version? very slow going

[2017-11-26 21:02] #4389 closed, assigned to nobody

[2017-11-27 07:57] joshuaadickerson commented on #3249
The security benefit is not so much in moving a salted and hashed password out of a cookie, as much as it is the ability to log out other users and creating an even better hashed password. Read everything I wrote in the Elkarte link.

It's not a big issue, but it adds a lot of possibilities for new features. There is no downside to this.

[2017-11-27 17:50] MissAllSunday commented on #3249
Indeed. Theres a bunch of posibilities, one of them is to create an user interface where they can see and select their active sessions and shut down them as needed. Admins can do the same of course.  A scheduled task can be added to prune old entries too.

Not using the password also means we can improve the token cookie as needed without worrying about messing up with users data. Worst that can h

[2017-11-27 17:57] albertlast commented on #3249
I see no user how is asking for this...
and i see no need to add this in this late time of the stage.

[2017-11-27 18:09] MissAllSunday commented on #3249
It should have been added earlier, I didn't do it when I was a dev simply because there was other stuff to attend to but it was always my intention to do so.

And no, you will not find any user requesting this as they might not be able to fully understand it but that doesn't mean it isn't required. Just as they didn't requested SMF to use sha1 back in the day.

Just the posibility to easily delete

[2017-11-27 18:19] albertlast commented on #3249
When someone steal the session cookie,
than will be no new session create -> which you could easy kill.
Because he use your session,
so you don't notice if someone hijack your session.

When someone is knowing you password,
than he kills your session and create a new password.

- No request for this feature
- No usefull additionaly functionallty
- More complex approache
- No additionaly security

[2017-11-27 18:43] MissAllSunday commented on #3249
The same already happens with the current approach and they not only get the session but the hashed password too.

An user can see if their session has been used in the past X days or weeks, if they do not recognize the session or they see one with recent activity that wasn't them, they can kill it.  This is not possible with the current approach.

The whole point of this is not to touch the passw

[2017-11-27 18:53] albertlast commented on #3249
When the session is hijacked than they can't see that the session was used x days before,
because is ther current session (when you want to show when you last visit was that you can archive with
existing solution).

Also you don't want to kill the session,
you wan't to change your password (why you wan't only to kill the session?),
because you don't know the reason why/how the session was used.

W

[2017-11-27 18:58] joshuaadickerson commented on #3249
In many ways it's less complex. No more dealing with passwords on every request. All of that logic is contained in the login module. Then your authentication module is just checking a string against a string. What can be easier than that?

There's tons of additional security. You can stop sessions from your computer. The password never leaves the database.

There is absolutely nothing you can do i

[2017-11-27 19:10] albertlast commented on #3249
The existing solution did this already,

You a said here; https://github.com/SimpleMachines/SMF2.1/issues/3249#issuecomment-347104273
that are no additionaly security and you miss here the chance to mention some of them.
Also the database didn't got the password.

You can change you password and reset all session, which is the finest solution instead of search for the right session to kill

[2017-11-28 07:15] joshuaadickerson commented on #3249
Okay, I hope it's implemented, but I'm not going to try to convince you it's the best way forward. One day I hope you'll understand the benefits. Unfortunately, I'm not the person to teach you today.

[2017-12-05 12:52] Gwenwyfar opened #4395 "Installing theme from package doesn't work"
When installing a new theme through the package, you are given an error: "_An error occurred while installing the theme_". No errors in the error log; multiple PHP versions were tested (5.4, 5.5, 5.6, 7.0 and 7.1).

Installing from a folder works fine. There are a couple packages in the theme site that can be tested, all of them seem to give this error.

Tests done on a live server, not localhost.

[2017-12-05 18:04] frandominguezl opened #4396 "Weird database issue with new install [PHP 7.1.11]"
I downloaded XAMPP with PHP 7.1.11.

Trying to run a new install, I got stuck in the database step. By default, phpMyAdmin does include a database called "test".
If you use anything other than "test" for the database name, I receive the following error:
![](https://i.gyazo.com/923170ebbb2741312747456e19860315.png)

If I use test, the install runs good.

![](https://i.gyazo.com/09f50cf11a2d30765e24

[2017-12-05 23:10] illori commented on #4395
i have php 5.5.12 on localhost and cannot duplicate this issue.

[2017-12-06 02:56] colinschoen commented on #4372
Please reopen if you have time to respond.

[2017-12-06 02:56] #4372 closed, assigned to nobody

[2017-12-06 03:07] sbulen commented on #4396
I believe this is expected behavior.  In some systems, e.g., my WAMP server, the installer has sufficient privileges to create the DB and it just goes ahead and does so if it doesn't exist.

In my hosted system, however, the installer does NOT have sufficient privileges.  I am expected to go in cPanel and create an empty DB, and create a DB user with sufficient privileges in order to do an install

[2017-12-06 03:33] sbulen commented on #4395
I am getting the same error on my hosted solution.

My localhost WAMP server has no such issues.

Note that Themes/temp was successfully created, but empty.

[2017-12-06 04:34] sbulen commented on #4395
There is a caught-but-not-reported exception here:
https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/Sources/Subs-Package.php#L315

That, if reported, $e would contain something like:
`UnexpectedValueException: Cannot create phar '/tmp/phpX3O29S', file extension (or combination) not recognised or the directory does not exist in /blah/blah/public_html/VAN21/Sources/Subs-Package.php:249`

It

[2017-12-06 20:12] frandominguezl commented on #4396
Manually creating the databse doesn't work either (I forgot to mention that above)

[2017-12-06 20:14] colinschoen commented on #4396
Are you sure the DB user you are using has privileges to the database that you created?

[2017-12-06 20:50] sbulen commented on #4395
I believe Oldiesmann's original fix would work (renaming the file).

It was reverted somehow.   Yet another regression.

[2017-12-06 20:52] illori commented on #4395
I wonder why it got reverted.

On Dec 6, 2017 3:51 PM, "sbulen" <notifications@github.com> wrote:

[2017-12-06 21:10] sbulen commented on #4395
There is a PR out there that specifically removed Oldiesmann's change 2 years ago.    Probably tested on Win.

I can get to this in a few days, lots of RL challenges lately.    If someone else can get to it sooner, feel free!

[2017-12-06 22:29] replikacep opened #4397 "problem on mobile"
telephone topics are narrowed by changing
samsung s8+

Editing reason: Last edited: Bugün, 00:32:42 Tekyürek Sebep: Edit duzenleme

problem editing in issue is mobilde

https://i.hizliresim.com/pGpk7m.png

https://i.hizliresim.com/V31R5n.png

https://resmim.net/f/Sz0PnV.png

solve the problem : Temporary
responsive.css
@media (min-width: 720px) and (max-width: 799px) {
.keyinfo h5 .modified {displ

[2017-12-06 23:10] Gwenwyfar commented on #4397
There are many smaller issues with the current responsive css. It's not worth tackling them now as the main desktop theme is not 100% yet, and the responsive file is based off it. We can go over fixing all the problems after it is.

[2017-12-06 23:19] replikacep commented on #4397
No problem  as you wish

[2017-12-06 23:42] #4397 closed, assigned to nobody

[2017-12-07 07:25] #4387 closed, assigned to nobody

[2017-12-07 08:55] frandominguezl commented on #4396
Everytime I used XAMPP the username was "localhost". I don't know if this changed for this version... I will going to check later and reply here.

[2017-12-07 09:33] wintstar commented on #4396
localhost is right under xampp. Did you changed the standart password? Xampp uses "" as initial password =>> https://stackoverflow.com/questions/26757197/i-cant-access-my-database-in-localhost-using-xampp

I have no problems with PHP 7.1.11, neither with xampp nor on the Live Sever.

[2017-12-07 11:09] frandominguezl commented on #4396
Looks like it was a (weird) phpMyAdmin config issue. I managed to solve it. Thanks for the help :)

[2017-12-07 11:09] #4396 closed, assigned to nobody

[2017-12-07 21:09] PortaMx opened #4400 "preg_replace_callback deprecated on PHP 7.2 !!"
The preg_replace_callback is deprecated on php 7.2 (just tested) so these needs a redesign !!
Thanks for reading this ...

Feline

[2017-12-07 21:20] tinoest commented on #4400
It doesn’t appear to be, can you please link to the location where it states it’s depreciated please

[2017-12-07 21:52] sbulen commented on #4400
Yeah, I don't see it here:
http://php.net/manual/en/migration72.deprecated.php

[2017-12-07 23:45] colinschoen commented on #4400
Agreed, this doesn't seem deprecated.

[2017-12-07 23:45] #4400 closed, assigned to nobody

[2017-12-08 10:19] PortaMx commented on #4400
I'm so sorry .. bad look on the code ..
I mean **create_function**
also **each** is deprecated ... and mutch more.

I'm just testing on php 7.2

Fel

[2017-12-08 14:52] tinoest commented on #4400
Each isn’t depreciated, it is in certain situations. Like a while list each

[2017-12-08 15:47] jdarwood007 commented on #4400
create_function was resolved earlier.

Zeus:SMF2.1 jeremy$ grep -Rn "create_function" ./
Zeus:SMF2.1 jeremy$ grep -Rn "each(" ./ | grep -v "foreach" | grep -v "\.each"
.//Sources/Load.php:1852:				list ($k, $v) = each($_GET);

[2017-12-08 18:59] PortaMx commented on #4400
each is deprecated ..
i tested that with a simple list($a, $b) = each(array) and get a error ..
Fel

[2017-12-10 03:52] PortaMx opened #4402 "Found a each (deprecated on php 7.2)"
list ($k, $v) = each($_GET); on line 18?? in Load.php ....

[2017-12-10 22:27] #2872 closed, assigned to nobody

[2017-12-10 22:28] Sesquipedalian commented on #2872
Fixed in #4283

[2017-12-11 08:59] colinschoen commented on #4402
Closing...

[2017-12-11 08:59] #4402 closed, assigned to nobody

[2017-12-11 23:15] Arantor opened #4406 "reCAPTCHA support may not work on shared hosts"
The reCAPTCHA implementation uses Google's off the shelf library for it - but a lot of shared hosts will have a problem with this. Using file_get_contents, even with a stream wrapper to make it a POST request - will fail on shared hosts that disallow HTTP(S) calls with file_get_contents.

Related errors in error log: Sources/ReCaptcha/RequestMethod/Post.php line 68

2: file_get_contents(): https:/

[2017-12-12 01:41] #4390 closed, assigned to colinschoen

[2017-12-12 01:42] #4371 closed, assigned to nobody

[2017-12-12 19:22] Arantor opened #4407 "SSL certificate detection doesn't work on many shared hosts"
Similar to #4406, ssl_cert_found relies on being able to open a stream wrapper (only this time, with a straight stream context creation rather than relying on file_get_contents)

This issues two warnings:

2: fopen(): https:// wrapper is disabled in the server configuration by allow_url_fopen=0

2: fopen(https://example.com/): failed to open stream: no suitable wrapper could be found

What makes t

[2017-12-12 22:05] Arantor commented on #4406
FWIW the entire library can be replaced out without too much effort; it's only making a cURL POST call out to Google, and curl_fetch_web_data can handle that.

https://github.com/SockDrawer/StoryBB/pull/318 was our solution; might not want to use the exact same class names etc. but it definitely doesn't need a whole library to do what's already provided for in the core.

[2017-12-15 08:35] Arantor opened #4408 "Merge topics can be broken"
This is because of invalid markup under some circumstances in the merge topic template.

To reproduce: make sure you have at least one board with no topics in it.

1. Visit a topic
2. Select to merge that topic
3. From the dropdown at the top, select the board that has no topics
4. The page will refresh and the top half will confirm there are no messages - but the bottom half where you specify the

[2017-12-15 10:39] live627 commented on #4406
I fixed this in https://github.com/SimpleMachines/SMF2.1/commit/66b62cdb7e5fae5ee1bf7a8f5b1ae0cff25e2ced

[2017-12-15 12:50] #4406 closed, assigned to nobody

[2017-12-17 01:22] jdarwood007 opened #4409 "Cachedir empty"
https://github.com/SimpleMachines/SMF2.1/blob/35b3d8ccee6ceb1f4b54054825e4a22b0293e01e/SSI.php#L31

Anyone know why we are unsetting the cachedir from globals?

This breaks integrations where you call Settings.php first and then call SSI.php.  Which in turns causes the caching to break because $cachedir is empty.  This only is noticed if you move the Cache directory from its default location due t

[2017-12-17 05:08] jdarwood007 commented on #4287
20:42:54 < albertlast> Oldiesmann: exists a reason why you keep this open? https://github.com/SimpleMachines/SMF2.1/issues/4287
20:44:06 <+Oldiesmann> Because I forgot to close it when I merged the fix and nobody else has seen it
20:48:16 < albertlast> in short: no
20:48:17 < albertlast> :)

[2017-12-17 05:08] #4287 closed, assigned to nobody

[2017-12-17 21:16] albertlast commented on #3766
So with my pr #4411 i was able to run this job without breaking stuff.
But in my eyes a more stricter api where no program code is included would be nice.

[2017-12-19 18:24] MissAllSunday opened #4414 "Increase credits field"
If a mod author wants to add a license url the length will quickly be filled.

I added that bit so kinda my responsability now

Edit, for reference: https://www.simplemachines.org/community/index.php?topic=557815.msg3952907#msg3952907

[2017-12-19 18:34] albertlast commented on #4414
Which field(table fieldname) you mean?

[2017-12-19 18:36] frandominguezl commented on #4414
@albertlast https://www.simplemachines.org/community/index.php?topic=557815.0;topicseen

[2017-12-19 18:46] albertlast commented on #4414
and what would be reasonable size?
on pg side i could choose text which provide unlimited size...

[2017-12-19 19:01] MissAllSunday commented on #4414
yeah, text, its not used that frecuently and it also gets cached if I recall correctly.

[2017-12-19 19:03] albertlast commented on #4414
where get what cached?

[2017-12-19 19:09] MissAllSunday commented on #4414
I don't recall exactly where and I don't have a local test at hand  but the mod author credits gets cached using whatever cache system SMF is currently using, to avoid hitting the db each time someone goes to the action=credits page

[2017-12-19 19:28] #4414 closed, assigned to nobody

[2017-12-19 22:29] Arantor opened #4416 "Profile trackActivity template checks wrong variable"
[code]

This should check $context['error_ips'] rather than $context['ips'].

[2017-12-19 22:37] Arantor opened #4417 "Profile trackActivity error_ips don't display correctly"
[code]

Needs some inet_dtop calls on the link building.

[2017-12-20 01:08] jdarwood007 commented on #3659
As I said, that is done that way as a proxy server is still handling your traffic and passing through a IP.  If configuration is not done properly, a proxy server could send false IP information to you.

If you are using a proper reverse proxy configuration, your front end (reverse proxy) and backend (server) would handle this without the application (SMF) even knowing about it.

[2017-12-20 07:27] #4417 closed, assigned to nobody

[2017-12-20 07:27] #4416 closed, assigned to nobody

[2017-12-20 17:44] albertlast opened #4421 "New issue with approval"
See the topic https://www.simplemachines.org/community/index.php?topic=557833.0
posible related to the pr #4398

key note:
- Not able to see unapproved messages
- Unapproved messages get not approved after disable the function

@colinschoen maybe you should check this.

[2017-12-20 19:59] colinschoen commented on #4421
I’ll look into this.

[2017-12-23 23:24] Arantor opened #4424 "Website on registration"
Not sure why you would do this, but if you selected for a user to add website on registration from the profile fields area, it won't work - because the user doesn't get given the extra permission for profile_website_own inside Register.php to futz with the check made in the profile code.

[2017-12-23 23:28] Arantor commented on #4409
This is historical. $db_character_set and $cachedir didn't always exist and thus could be tainted by way of register_globals so many moons ago (even in 2.0) they were cleansed as they didn't necessarily exist.

I'd wonder why the integration is done wrong (there is no need to load Settings.php then load SSI, just load SSI)

[2017-12-23 23:34] Arantor opened #4425 "Website on registration doesn't work (missing field)"
Assuming we fix #4424, the field doesn't work anyway because the website URL part of the field is defined as a 'url' type field and doesn't get output anyway.

![image](https://user-images.githubusercontent.com/1156911/34323292-c845823c-e839-11e7-8fff-a1174cf99377.png)

[2017-12-24 01:27] sbulen commented on #4407
Is there an alternate technique that can't be disabled?
Or, at least, is infrequently disabled?

[2017-12-24 08:52] tinoest commented on #4407
cURL would be the alternative fallback most have that enabled

[2017-12-24 12:36] frandominguezl commented on #4425
Working on a fix now for #4424 and #4425

[2017-12-24 15:07] frandominguezl commented on #4425
Alright, #4424 was an easy fix, but trying to fix this one ends up in weird stuff. If you set the field type to 'text', the field is displayed but it won't keep the website data after you register. So, something is wrong with 'url' type.

Plus, if you fail to solve the captcha, when the screen reloads, the website info is lost (while your username and email are still there).

[2017-12-24 15:42] albertlast commented on #4424
How you activate the website url on registration?

[2017-12-24 21:04] Arantor opened #4427 "Invalid HTML in ManageBoards.template.php"
The final <input> for the token in template_confirm_board_delete() doesn't have its trailing >.

[2017-12-24 22:11] sbulen opened #4428 "Install issue: BLOB, TEXT, GEOMETRY or JSON column 'credits' can't have a default value"
I'm attempting a vanilla 2.1 install, latest github version.

wamp server, MySQL 5.7, php 5.6.

Error message is:  Line #455: BLOB, TEXT, GEOMETRY or JSON column 'credits' can't have a default value

![image](https://user-images.githubusercontent.com/23568484/34329414-1e192f2c-e8b4-11e7-8b0e-472d560808e6.png)

[2017-12-24 22:41] sbulen commented on #4407
PR #4429 submitted.

[2017-12-24 22:51] sbulen commented on #4428
Everything seems to work fine, these are just warnings.
No warnings on my unix server.

[2017-12-25 08:43] notepaddo opened #4431 "Database error when going to different page"
SMF 2.1 Beta 3

Steps to reproduce the error:

1) Click on a board index containing so many topics that they need to be listed in more than one page, so that you obtain the list of topics
2) Click on the header “Subject”, so that you will list topics in alphabetical rather then chronological order
3) Go down and click on page 2

You will obtain this message:

Database Error
Unknown column 'mfsubje

[2017-12-25 12:27] albertlast commented on #4431
Please use the github version.

[2017-12-25 15:06] notepaddo commented on #4431
I tested the github version and the bug is there.

[2017-12-25 15:14] albertlast commented on #4431
I test you steps:
open a board with more than one page
order by subject
jump to page 2 -> got no error

Can you please look in your messageIndex.php  Line 233
and compare this with the github version: https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/Sources/MessageIndex.php#L233

maybe post you complete MessageIndex on a pastebin side and link this to this issue here,
for furhter analyse

[2017-12-25 15:18] notepaddo commented on #4431
I downloaded my messageIndex.php and Line 233 looks identical:
		'subject' => 'mf.subject',

[2017-12-25 15:22] notepaddo commented on #4431
You can see the error in my forum: https://www.spiritualita.org/forum
The error does not appear if I jump to page 2 without having ordered by subject.

[2017-12-25 15:30] albertlast commented on #4431
I remember that we got here an issue,
the pr how fix this: https://github.com/SimpleMachines/SMF2.1/commit/ca7b717596887e73d847cf1ef4660d6dcacf2064#diff-04560aac86aa2e2dfa81d1199a933dce
did one change in messageIndex Line 296
and one change in Subs-Db-mysql.php Line 275
also check that the Subs-Db-mysqli.php didn't exists anymore.

Please do the checks and yes i saw that you got the issue in your

[2017-12-25 15:31] #4428 closed, assigned to nobody

[2017-12-25 15:40] notepaddo commented on #4431
Thank you: it solved the bug.

[2017-12-25 15:43] #4431 closed, assigned to nobody

[2017-12-25 22:01] #4427 closed, assigned to nobody

[2017-12-26 13:17] albertlast commented on #2878
i see no performance issue,
since we load all fields information in one select and only maintained fields get a dataset.

Recommand to close until someone got a real performance issue with that.

[2017-12-27 06:38] albertlast commented on #1934
@colinschoen canb you close this issue?
I didn't notice this issue.

[2017-12-27 06:45] albertlast opened #4438 "Housekeeping interface for Caching"
Like I mention here: https://github.com/SimpleMachines/SMF2.1/pull/4306
an "interface" where i could add some housekeeping would be nice.

For pg and sqlite i would like do a monthly/weekly(maybe the admin can choose) run where i truncate complete table.

Maybe @jdarwood007 could you add something like that?

[2017-12-27 20:04] colinschoen commented on #1934
Thanks

[2017-12-27 20:04] #1934 closed, assigned to nobody

[2017-12-28 10:54] illori commented on #2878
i dont agree with this being closed, i think this should still be looked into. the fields shown are not all necessary and should be limited. i dont think it is a performance issue at first look but what if you have 100 buddies? is it then a performance hit? not to mention that we dont need all this info shown here, what if you have 20 custom profile fields? why do you need them all shown here?

[2017-12-28 11:00] illori commented on #2878
actually looks like there is some code to not show disable the fields but i dont think it is working
`$context['custom_pf'] = array();
	$disabled_fields = isset($modSettings['disabled_profile_fields']) ? array_flip(explode(',', $modSettings['disabled_profile_fields'])) : array();
	while ($row = $smcFunc['db_fetch_assoc']($request))
		if (!isset($disabled_fields[$row['col_name']]))
			$context['cus

[2017-12-28 11:12] albertlast commented on #2878
Like I mention from performance point of view it's not critical.
100 Buddies with 20 customs fields (where not all are maintained)
are literay 1k datarows -> 1k is nothing even when als fields a maintained by all user 2k rows keeps nothing.

When you got complains about the displaying,
than i don't care.

[2017-12-28 11:20] illori commented on #4438
SMF 2.1 no longer supports sqlite.

[2017-12-28 11:22] albertlast commented on #4438
smf 2.1 support sqlite for caching. https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/Sources/CacheAPI-sqlite.php

[2017-12-28 11:22] illori opened #4439 "new cake icon"
we have replaced just about all the icons in SMF 2.1, but the cake image is still the old image. can we update it? also can we test that it displays correctly?

[2017-12-28 11:22] illori opened #4440 "remove AIM"
since AIM is no longer working/supported we should remove all of it from SMF 2.1.

[2017-12-28 20:09] Gwenwyfar commented on #4439
I'm planning on drawing one animated, but we can use the cakes from fugue if that doesn't happen. I'm not done with icons in general yet, there are also a few others to update and rearrange the folders.

[2017-12-28 22:31] sbulen opened #4441 "INFORMATION_SCHEMA.GLOBAL_VARIABLES feature is disabled"
Brand new install from github.  wamp server.  php 5.6.  Mysql 5.7.

This comes up for the first two entries in the admin console.

This is indirectly related to the discussion regarding this issue on the forum:
https://www.simplemachines.org/community/index.php?topic=557286.0

And also indirectly related to this open PR #4391

See attached:
![image](https://user-images.githubusercontent.com/235684

[2017-12-28 22:50] sbulen commented on #4441
I thought that PR #4391 was still outstanding, but it looks like that commit was pulled along into #4392 as well.  So #4391 is a duplicate, its change has already gone in.

[2017-12-28 23:33] sbulen commented on #4440
PR #4442 submitted.

[2017-12-29 08:14] albertlast commented on #4441
The issue is partly known,
as i mention in the pr of #4391 and reason why this pr is still open.
Since no one is response about my question about the mysql version
the issue is "wanted".

[2017-12-29 13:16] #4440 closed, assigned to nobody

[2017-12-29 15:13] sbulen commented on #4441
One of the conmits in PR #4392 attempted to deal with an issue that impacted a small # of mysql 5.0.x users, but it did so in a way that impacted everyone on mysql 5.7.6+.

It made things worse - it impacts more people, all those on the more recent versions.

I think we need to revert that commit in #4392, at least until you get your answer and can submit a proper fix.

Make sense?

[2017-12-29 15:29] albertlast commented on #4441
Dont wast your time about this please,
i know all the solutions,
the smf team need do decisions,
when they can't decide we can't help.

[2017-12-29 15:31] colinschoen commented on #4441
Apologies. Will be looking at this again after holiday. Thanks for the patience.

[2017-12-29 21:44] sbulen opened #4444 "Session 'failed to decode' messages"
Not all fields in the session are properly encoded.  This results in occasional 'failed to decode' messages.

I believe the bug is this:  the $_SESSION['last_ss'] is populated with the contents of the last search.  When UTF8 characters are searched for, they are not properly encoded here.   The session encoding & decoding has a problem with this.

To reproduce:  Search for any special UTF8 charact

[2017-12-30 02:52] colinschoen commented on #4444
Good find.

[2017-12-30 06:53] albertlast commented on #4444
I found by this description an issue in the postgresql search stuff,
but i'm not able to create any session issue by using this information.

I tested this in my mysql and pg env.
My testet scenario:
Fulltext on and off
Quick Search box and normal search window
Mysql and PostgreSQL

[2017-12-31 00:42] sbulen opened #4448 "Proxy Enhancement: Don't serve up bots"
After enabling the proxy on my 2.0 site, I noticed CPU up 2x & bandwidth up 3x.  I believe the crux of the problem is serving up images for search bots.

I believe we should NOT serve up images thru the proxy for suspected bots.

We probably shouldn't be serving up these images (originating from other sites) for search engines anyway.

This impacts 2.0 & 2.1.

[2017-12-31 00:46] sbulen opened #4449 "Proxy Enhancement: Cache size setting"
After watching my (2.0 proxy) cache grow over 600MB of files a day, I realized we probably need some cache management...

I propose a user-configurable cache size setting, that is enforced via a Daily maintenance task.   (It grows too quickly for Weekly maintenance, on my site anyway...)

This applies to 2.0 & 2.1.

[2017-12-31 03:16] #4381 closed, assigned to nobody

[2017-12-31 10:16] wintstar opened #4451 "Gender Field"
Last Pull request:
https://github.com/SimpleMachines/SMF2.1/pull/4445

Forum version: SMF 2.1 Beta 4 (more detailed)
Current SMF version: SMF 2.1 Beta 3
GD version: bundled (2.1.0 compatible)
MySQLi engine: MariaDB
MySQLi version: 10.1.25-MariaDB
Alternative PHP Cache: 5.1.2
PHP: 7.1.11 (more detailed)
Server version: Apache/2.4.29 (Win32) OpenSSL/1.0.2l PHP/7.1.11
Fix:
https://github.com/SimpleMa

[2017-12-31 14:30] wintstar commented on #4451
It would be much easier to set this as the default field. Why the change from 2.0. *?
It worked in all languages.

[2017-12-31 16:12] sbulen commented on #4444
Note from @Arantor over on SMF:

[2017-12-31 16:13] albertlast commented on #4444
Did it solve this?

[2017-12-31 19:12] sbulen commented on #4444
@albertlast - Hey, I just woke up & got my coffee!   I haven't tried it yet...

Also, I've been doing a lot of reading first...    I suspect this will work, as most threads that discuss this setting state it will address "known problems" with session_encode with "special characters".   (Some threads suggest hijacking the session encoding algorithm altogether, as they don't think this is sufficient

[2017-12-31 19:17] sbulen commented on #4444
@albertlast - To reproduce, simply search for a string that has multibyte characters:
![utf8-search-issue-1](https://user-images.githubusercontent.com/23568484/34463787-068678f2-ee1c-11e7-9bde-0ac4ad383eaa.JPG)
You will then see this error in the error log:
![utf8-search-issue-2](https://user-images.githubusercontent.com/23568484/34463788-09f91364-ee1c-11e7-80e1-02b923cc9dcf.JPG)
(Note that the 2n

[2017-12-31 20:12] sbulen commented on #4444
Yes, changing the session.serialize_handler to php_serialize definitely works.

Now the question is whether there is a way that doesn't require a bump in the minimum php version...

[2017-12-31 20:15] albertlast commented on #4444
Use the way how wiki does,
Try to activate when doesn't work use the old methods.
https://github.com/wikimedia/php-session-serializer/blob/master/src/Wikimedia/PhpSessionSerializer.php#L70

________________________________
Von: sbulen <notifications@github.com>
Gesendet: Sonntag, 31. Dezember 2017 21:12
An: SimpleMachines/SMF2.1
Cc: albertlast; Mention
Betreff: Re: [SimpleMachines/SMF2.1] Session

[2017-12-31 23:07] wintstar opened #4453 "Installer step 5 umlauts bug"
Last Pull request:
#4445

Forum version: SMF 2.1 Beta 4 (more detailed)
Current SMF version: SMF 2.1 Beta 3
GD version: bundled (2.1.0 compatible)
MySQLi engine: MariaDB
MySQLi version: 10.1.25-MariaDB
Alternative PHP Cache: 5.1.2
PHP: 7.1.11 (more detailed)
Server version: Apache/2.4.29 (Win32) OpenSSL/1.0.2l PHP/7.1.11
Browser: Chrome Version 63.0.3239.108 (64-Bit)

Step 1 to 4 have the charset

[2018-01-01 00:18] albertlast commented on #4453
Since the german translate didn't exists official i had to ask that you try the change directly by your side:
go to SMF2.1\Themes\default\languages\Install.german.php and edit here the
$txt['lang_character_set'] = 'ISO-8859-1';
to
$txt['lang_character_set'] = 'UTF-8';

[2018-01-01 00:36] albertlast opened #4454 "ISO-8895-1 in install and index.english.php"
i had to ask if ther any reason why we got in
https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/Themes/default/languages/index.english.php#L19
and
https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/Themes/default/languages/Install.english.php#L5
ISO-8895-1 instead of UTF-8?

[2018-01-01 00:39] wintstar commented on #4453
It's not the language file. This already contains charset utf-8. If the language file was wrongly encoded, why is the bug only in step 5? And why is the charset in step 5 ISO-8859-1  and in the other steps 1-4 utf-8?

[code]
There is this umlauts bug only in the installer at step 5, nowhere else. Download the language pack and check it out. Download link, look at the first post.

[2018-01-01 00:47] albertlast commented on #4453
Possible issue could be that he take the english language file,
you could check this by editing the english file also and set in the index and install language file to UTF-8

[2018-01-01 00:58] wintstar commented on #4453
Yes, this fixes the bug. I have changed the character set in the index_english and install_english to utf-8.

[2018-01-01 01:01] albertlast commented on #4453
I already open a issue with the question why we use iso-8895-1 on the english language file #4454,
lets take this issue with "key" issue that somehow the used language file is changed in the middle of the road.

[2018-01-01 01:02] sbulen commented on #4454
I recall being told that this was necessary for the Language Editor.   I tried changing this once earlier myself.  I cannot find the earlier thread.

@Oldiesmann ?   Does this sound familiar?

[2018-01-01 01:12] sbulen commented on #4454
Found the old thread, it was in the discussion for PR #3948 .  I was asked to change it back to ISO-8859-1 by Antes , due to Language Editor behavior.

@Antes - sound familiar?

[2018-01-01 01:35] albertlast commented on #4454
because the install.english.php used iso-8895-1 we got in the header of the install the charset iso-8895-1,
which looks very bad in my point of view.

[2018-01-01 05:18] #3766 closed, assigned to jdarwood007

[2018-01-01 05:32] #4407 closed, assigned to nobody

[2018-01-01 05:43] colinschoen opened #4455 "Personal Text on Registration (Missing Field)"
Similiar to #4425

If `Personal Text` is set to `Show on Registration` in the `Profile Fields` settings in the Admin center the field is not actually shown.

[2018-01-01 06:02] colinschoen opened #4456 "Profile Fields Values not Persisted on Registration w/ Errors"
When profile fields that `$_POST` to different name/s than the `registration_fields` key their value is not persisted through registration form submissions with errors.

An example is the `Website` profile field which when enabled to `Show on Registration` is actually two form inputs: `Website title`, `Website URL`. These inputs $_POST to `website_title` and `website_url` respectively which don't

[2018-01-01 06:02] colinschoen commented on #4456
@d3vcho Want to take a stab?

[2018-01-01 07:31] wintstar commented on #4454
But only in step 5. Look in https://github.com/SimpleMachines/SMF2.1/issues/4453

[2018-01-01 09:21] albertlast commented on #4454
It's a happy "accident" that we detect yours because this issue exists.
But the complet setup process in english is used iso-8895-1 when you install in english.

So this issue is not related to yours.

[2018-01-01 09:22] albertlast commented on #4453
I provided a pr with the fix,
feel free to test this.
#4457

[2018-01-01 09:35] wintstar commented on #4453
I have changed the character set in the index_english and install_english to ISO-8895-1. Your fix not work. In the header is the charset ISO-8895-1.

[2018-01-01 09:37] XinYenFon commented on #4454
@sbulen yeap, but if I remember well, when that PR created SMF 2.1 was not UTF8 only, it is now so yes default files needs to be UTF8 as well.

[2018-01-01 09:38] albertlast commented on #4453
your are 100% sure that you apply this changes to the install.php which is directly in your root and not this one in the "other" dictory?

[2018-01-01 09:41] wintstar commented on #4453
I made the change as in their fix

[code]

[2018-01-01 09:43] albertlast commented on #4453
I assume that your want to say with the close that the fix is working,
this is nice.
But please keep the issue open until the pr is merged (it's get closed automaticly)

[2018-01-01 09:58] albertlast opened #4458 "Language selection looks not good?"
Well im not the best guy about good looking gui...
but when you install a second language and you got the language choose pulldown input.
It's looks for me a little bit out of place/compress:
![grafik](https://user-images.githubusercontent.com/1782906/34466876-908591d4-eee2-11e7-91ab-7b10f3b86b41.png)

Could @Antes or @Gwenwyfar give up a comment if it should be this way?

Default behavior:
![graf

[2018-01-01 10:07] wintstar commented on #4453
Sorry was a false click. Is not fix.
I accidentally closed.

[2018-01-01 10:11] albertlast commented on #4453
Okay forgot to apply the changes to the global to install file in the other dict...
The pr is updated.

[2018-01-01 11:06] wintstar commented on #4453
Now the fix https://github.com/SimpleMachines/SMF2.1/pull/4457  works. Bug solved. Thanks.

[2018-01-01 12:05] Arantor opened #4459 "$txt['mc_reportedp_ignore_confirm'] used inappropriately"
So the string $txt['mc_reportedp_ignore_confirm'] begins with 'If you choose "OK"...' which seems fine, except for the fact it's used in a data-confirm without any preprocessing, meaning the element gets truncated to 'If you choose' in the popup.

To observe, report a post, then go to the moderation center to ignore it and press ignore.

[2018-01-01 13:48] wintstar opened #4460 "Secure external links"
Wouldn't it be better to make external links (e. g. with BBCode) make safer with rel=noopener?

Look here https://mathiasbynens.github.io/rel-noopener ?

[2018-01-01 14:28] Gwenwyfar commented on #4458
I'll look into it.

[2018-01-01 16:04] wintstar commented on #2020
All issue about the Plural Bug are closed. Is this being pursued further or is there no interest to fix it?

[2018-01-01 16:09] frandominguezl commented on #4456
I think this is going to be a little bit more difficult for me, but I will try anyway 👍

[2018-01-01 16:11] frandominguezl commented on #4455
Going to look into this when I have a spot.

[2018-01-01 16:35] frandominguezl opened #4462 "Weird displaying in Register"
After enabling Timezone field to show in register, this is how it displays:

![](https://i.gyazo.com/3bed0acdbce42884e2113be165d229f2.png)

[2018-01-01 16:39] colinschoen commented on #4462
You are specifically referring to the (Forum default) text correct?

[2018-01-01 16:41] frandominguezl commented on #4462
Yup I mean, the theming looks wrong there with that scroll bar down there.

[2018-01-01 16:42] colinschoen commented on #4462
Oh not the text but the size of the select.

[2018-01-01 16:43] frandominguezl commented on #4462
Yes, that's it. Should be an easy fix, though

[2018-01-01 17:20] colinschoen commented on #4455
Thanks!

[2018-01-01 19:31] #4453 closed, assigned to nobody

[2018-01-01 22:45] Gwenwyfar commented on #4462
Inputs having fun in being a pain as usual. Options text content can't wrap, and we have one selection that is very long. Need to find a solution around that. I think we can just constrain the select size, since the options size can and will be larger than the select box regardless.

[2018-01-02 06:54] #4454 closed, assigned to nobody

[2018-01-02 09:40] wintstar opened #4465 "upgrade.php hardcoded text"
During the upgrade process there is no possibility to translate the text in some steps, because it is hardcoded.

Here are just a few:
https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/other/upgrade.php#L218
https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/other/upgrade.php#L939

Another problem is that other language files are not loaded in all steps.

[2018-01-02 09:48] albertlast commented on #4465
I'm not fully understand what you mean with: "other language files are not loaded."

[2018-01-02 09:58] wintstar commented on #4465
![upgrade-1](https://user-images.githubusercontent.com/2753863/34480160-1a4764c4-efab-11e7-9a03-9358cb0a41a2.PNG)

![upgrade-2](https://user-images.githubusercontent.com/2753863/34480173-2916505a-efab-11e7-89bf-6a8269c6a442.PNG)

![upgrade-3](https://user-images.githubusercontent.com/2753863/34480182-336a2dba-efab-11e7-8b1d-abc9b13672ad.PNG)

![upgrade-4](https://user-images.githubusercontent.com/

[2018-01-02 10:22] albertlast commented on #4465
Well on my side the upgrader start in german,
what language stand in you settings.php?
look at $language

[2018-01-02 12:49] RiverHeart commented on #2985
If you're still open to a new icon set might I suggest Emojione (https://www.emojione.com)? Both the 3.x and 2.x branches have good licenses for non-commercial projects. 2.x especially.

[2018-01-02 14:06] XinYenFon commented on #4462
I can't reproduce this issue on my laptop & 1080p screen (27'')

[2018-01-02 14:07] frandominguezl commented on #4462
@Antes Which browser are you using? In case you weren't using FireFox, can you try?

[2018-01-02 14:12] frandominguezl commented on #4465
@albertlast Looks like he has the upgrade.php in German, but not every word is translated on it.
For example, see "Fortschritte" and right below the steps in English.

[2018-01-02 14:12] XinYenFon commented on #4462
I'm using Firefox 58B13 (64bit), tested on MS-Edge, IE11, Chrome 63 as well.

[2018-01-02 14:15] albertlast commented on #4465
You need to look different on the pic.
You see that the first pic's are in english fully and
the others are partly in german.
The intresting part for me is,
why are the first steps in english (in my test env) the first page is already in german.

[2018-01-02 14:16] frandominguezl commented on #4462
It happens for me both in FireFox 57.0.3 (64-bit) and in Chrome 63

[2018-01-02 14:18] XinYenFon commented on #4462
I don't see anything weird on page-load or any extra ID to interfere with this...  Does the list has anything weirdly long ?

[2018-01-02 14:19] colinschoen commented on #4444
`php_serialize` is available from `5.4` on. This seems like a good solution.

[2018-01-02 14:20] albertlast commented on #4444
nope from 5.5+ i tested it with gwen today

[2018-01-02 14:21] colinschoen commented on #4444
I misread 5.5.4 I see. Ok we should try to still get this working for 5.4 then.

[2018-01-02 14:24] albertlast commented on #4444
From my point of view,
when this is the fix (i don't know but it look that it even the best choice).
That this is a issue on admin side -> when he got the issue,
he had to upgrade his php version.

To make it short in my eyes is the issue fixed.

[2018-01-02 15:09] wintstar commented on #4465
Yes is english. But if the default language in the admin center is German. Should not standing german in the Settings.php file?
In the Admin Center is German set as default language.

[2018-01-02 15:11] albertlast commented on #4465
Dunno,
but so long in the settings.php stand english the upgrade is done in english,
why it switch in the middle of the road would be intressting to know.

[2018-01-02 15:31] wintstar commented on #4465
I don't have an explanation. According to my overview in the upgrade.php file, a language package is not defined. As it was changed yesterday in install. php. Maybe it's xampp? This is the basis of my test environment.

[2018-01-02 15:46] albertlast commented on #4465
The upgrade use the install language file see:
https://github.com/SimpleMachines/SMF2.1/blob/db4ee69624e40c1b83c518d2a5b91e0009fa70d9/other/upgrade.php#L235-L237

[2018-01-02 15:55] wintstar commented on #4465
I know that the install language file is used for the upgrade process. I have completely retranslated the language package for German. But I didn't see that in upgrade.php.

[2018-01-02 16:16] albertlast commented on #4465
Did you not mention that in settings.php stand english? change it to german and you see the translation.

[2018-01-02 16:37] wintstar commented on #4465
Yes, I realize that. Should this entry in the setting file not be automatically updated if the German language package is installed and set as default in the Admin Center?

[2018-01-02 17:19] Arantor commented on #4444
Your alternative is to make sure that anything pushed into $_SESSION converts all the high byte content to entities.

[2018-01-02 18:16] wintstar commented on #4465
I have now german setting in the Settings.php file.
`$language = 'german';`

However, some texts are not stored with language strings It is not only these
https://github.com/SimpleMachines/SMF2.1/blob/0c3a4e9a03e040c1f0d0d4855cb9db79004b339d/other/upgrade.php#L86-L92

- Login
- Upgrade Options
- Backup
- Database Changes
- Convert to UTF-8
- Convert serialized strings to JSON
- Delete Upgrade.php

[2018-01-03 06:14] albertlast commented on #4460
Norrmaly the issue should get be close by ther merged pr..
But as you see the changes are now merged.
So please test this and close this issue than.

[2018-01-03 06:21] #4460 closed, assigned to nobody

[2018-01-03 10:39] frandominguezl commented on #4424
This can be closed @colinschoen

[2018-01-03 10:40] frandominguezl commented on #4425
This can be closed @colinschoen

[2018-01-03 11:04] frandominguezl commented on #4462
It has some longer items, but manually reducing the width of that select box to 50% works good and none of the items gets truncated or something like that.

[2018-01-03 12:38] frandominguezl commented on #4465
Yup, there are definitely some hardcoded text strings over there. I don't think it's going to be too difficult to convert them to true $txt strings. I'll give it a go as soon as I can :)

[2018-01-03 14:05] frandominguezl opened #4467 "Wrong margin on checkbox"
![](https://i.gyazo.com/212bfab5df2a44fc16e09fa5bd18c361.png)

Placed in Reported Posts' options.

[2018-01-03 14:20] Gwenwyfar commented on #4462
UTC +4 text is overly long and is what is causing this in english, since we don't define a size for the select (not sure if we translate the time format strings or not, could be why it doesn't happen for you)

[2018-01-03 15:59] #4424 closed, assigned to nobody

[2018-01-03 16:00] #4425 closed, assigned to nobody

[2018-01-03 16:01] #4462 closed, assigned to nobody

[2018-01-03 20:17] #4455 closed, assigned to nobody

[2018-01-03 20:25] colinschoen commented on #4444
I just spoke with @albertlast on IRC. I'll take the issue of getting this to work on `5.4`.

[2018-01-03 20:46] Arantor commented on #4444
https://gist.github.com/pulse00/4204440 might be of use to you; their approach is to decode the session before saving and re-encode it in their own format - you could do something similar here.

[2018-01-03 20:49] colinschoen commented on #4444
Thanks!

[2018-01-04 01:12] illori commented on #2985
their license says nothing about distribution, so we cant use them due to that. i also dont like that they dont use a known license type and create their own license.

[2018-01-04 02:06] RiverHeart commented on #2985
Fairly certain a short email could address the distribution concern but their 2.x branch is licensed under creative commons. As far as I'm aware,  they merely require some form of attribution, however they are used.
https://github.com/emojione/emojione/blob/2.2.7/README.md

[2018-01-04 10:46] frandominguezl commented on #4465
Now working on this.

[2018-01-04 12:40] wintstar commented on #4465
Thanks :)
Will update my German translation and give feedback.

[2018-01-04 13:00] frandominguezl commented on #4467
Fixed with #4437

[2018-01-04 13:00] #4467 closed, assigned to nobody

[2018-01-04 20:34] Gwenwyfar commented on #2985
From that page:

[2018-01-05 00:02] illori commented on #2985
if a note or link has to be on every page the smiley shows then no we cant use them.

[2018-01-05 10:26] Gwenwyfar commented on #2985
Interesting option, but I think we're better off using fugue and leaving it at that at this point.

Adding unicode would also be a mess with wild cross-browser differences.

[2018-01-05 10:29] illori commented on #2985
actually it looks like we use fugue already. https://github.com/SimpleMachines/SMF2.1/tree/release-2.1/Smileys/fugue

maybe we should replace the existing smileys with fugue as the default set and change all related settings in the database to reflect this change.

[2018-01-05 10:35] Gwenwyfar commented on #2985
Yep.

I also have "upgraded" our other sets for any nostalgic folks out there (smiley sets often help create a forum's "personality"), just awaiting to confirm we won't have any legal issues with those changes.

[2018-01-05 10:40] illori commented on #2985
i have not seen where you posted about that, they are released under the 2.0 BSD license so it should be fine. i would recommend making smiley packages out of them and removing from a new 2.1 install. letting users install them manually if they so wish.

[2018-01-05 11:28] Gwenwyfar commented on #2985
Good idea. I'd say we can leave the current default as an alternative and then make a package for the other two. That's what is more likely people may want to use and keeps them aware you can change sets.

[2018-01-05 22:17] sbulen commented on #4449
This may be helpful, it's the one I'm now using:
https://github.com/sbulen/sjrbTools/blob/master/proxy-maint-cron.php

[2018-01-06 05:03] Sefank opened #4473 "Error with Forcing SSL"
After I installed SMF (using version 3b2b583), I tried to visit the index page but failed.
![image](https://user-images.githubusercontent.com/12670778/34636635-14675666-f2e1-11e7-9458-48c63a507580.png)
I enabled the HTTPS service but it still said "You can only login via HTTPS".
It's really confusing.
BTW the environment I'm using is as follows.
Virtual Host(Linux), Nginx, MySQL 5.5.35, PHP 7.0
An

[2018-01-06 05:52] albertlast commented on #4473
Can you go to your smf_settings table,
copy the value of the key tld_regex here in the issue?

Could it be that you server got a own https proxy in front of you webserver?
Because your issue should came from:
https://github.com/SimpleMachines/SMF2.1/blob/89e0b80dd68e5cfdf1e5d1505e77dcad0d45de38/Sources/Load.php#L1840-L1851
And the code check if your force ssl and ask the webserver if the connectio

[2018-01-06 06:47] albertlast commented on #4451
Soi the pr got merge,
please test this again with the changes(notice that also database changes are in ther)

[2018-01-06 06:56] sbulen commented on #4473
I've seen this before...  I believe this happens when there is no redirect, but force_ssl = 2 and you type in http in your url (or http is in your browser memory, so your browser is specifying http...)

[2018-01-06 06:57] albertlast commented on #4473
nope you can call his side and see directly the issue.

[2018-01-06 07:01] sbulen commented on #4473
I've seen it pretty frequently, without the proxy.  And you are correct, the  $server [https] is no.   I believe it can happen whenever force_ssl =2 , but you aren't https (eg., no redirect) when logging on

[2018-01-06 07:11] albertlast commented on #4473
I'm not fully understand your comment,
but this what i mean: https://stackoverflow.com/questions/1175096/how-to-find-out-if-youre-using-https-without-serverhttps

And this could be a valid solution:
[code]

[2018-01-06 08:17] albertlast commented on #4473
Please try the fix from the pr #4474 ,
maybe it's solve your issue.

[2018-01-06 10:24] wintstar commented on #4451
Database was updated with upgrader. It works with the post view, not work in memberlist and not in profile view. With the default language English set in the profile, it does not work there either. There is always the problem with "KEY".

![gender_7](https://user-images.githubusercontent.com/2753863/34638816-0436458e-f2d4-11e7-8f7f-aa7e89d4d830.png)

![gender_6](https://user-images.githubuserconte

[2018-01-06 10:31] albertlast commented on #4451
it doesn't solve the issue,
but @colinschoen i think you forgot to add this change frome the install also in the upgrade:
https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/other/upgrade_2-1_mysql.sql#L1027
https://github.com/SimpleMachines/SMF2.1/pull/4452/files#diff-d6f74e978f1d734a838e3b2e2336b695R2029

[2018-01-06 10:52] Sefank commented on #4473
@albertlast
I can't find the key tld_regex in smf_settings table,
And the output of your code is as follows.

(testt.php is the php file name.)

[2018-01-06 10:58] tinoest commented on #4473
Change the isset to !empty for the first of check and try again.

[2018-01-06 10:59] albertlast commented on #4473
is not needed.
Please try the fix from the pr.

[2018-01-06 11:13] Sefank commented on #4473
Erh, I tried the fix but during the reinstallation process, I got into trouble when going to Step 3.
The error looks like:

[2018-01-06 11:19] albertlast commented on #4473
i was not sure if the function is ther when i write to the subs or not,
your error awnser the question.
this fix the error:
https://github.com/SimpleMachines/SMF2.1/pull/4474/commits/cf189bfc5a0cdecfa06692c25c7e96c60c6ad273

[2018-01-06 11:48] Sefank commented on #4473
I've tried cf189bf but when Step 3 I submited the database info, the web browser gave me a "Confirm the submission of the form" dialog. No matter I chose "Continue" or “Cancel”, it then gave me a blank page.
The page source may help.
[code]
PS1: Before I did all these, I have clean the temp and cookies.
PS2: It seems that the souce won't help... :D

[2018-01-06 12:10] albertlast commented on #4473
I change the last commit,
revert the function and place the logic direclty in the code.
And testet the install in non https env(works now):
https://github.com/SimpleMachines/SMF2.1/pull/4474/commits/e11f96e6220f29b24aef6fbf610f5415683641ee
try this changes.

[2018-01-06 12:31] Sefank commented on #4473
@albertlast Great it WORKS! Very appreciated!

[2018-01-06 13:04] albertlast commented on #4473
Don't close the issue,
the issue should get closed when the pr is merged.

[2018-01-07 12:07] Arantor opened #4477 "Error count query runs way too often"
The query that fetches the error count for the admin menu runs in reloadSettings. This is way too early to be running it, because now it means that regardless of what happens on that page, you've run that query.

It only needs to run if the user is an admin (since they won't be able to get to the error log otherwise anyway), and it doesn't actually need to run any earlier than setupMenuContext as

[2018-01-07 18:57] frandominguezl opened #4479 "HTML in text strings"
In some text strings of Install.php (under Install.language.php) there's HTML inside them which can mislead some translator.

I wanted to make a separate issue and do a different Pull Request for those strings. I might check as well the rest of the language files to see if there's HTML on some strings as well.

[2018-01-07 19:34] Gwenwyfar commented on #4479
There is html in a lot of the strings. Not sure there's any easy way outside that unless you make changes in every template using them and split all the strings. Would we even want that?

[2018-01-07 19:38] frandominguezl commented on #4479
Not sure. If I'm gonna make it for the text strings I introduce in #4470 then I don't know why I wouldn't do that for the rest. It could be a lot, yes, but if it's better to use sprintf for those strings, then it's okay for me.

Would like to hear some feedback from the devs.

[2018-01-07 20:54] Gwenwyfar commented on #4479
I think for example this one: `$txt['force_ssl_info']` is the kind we don't want to see anywhere. Definitely we should get rid of all those.

But then we have a lot of things like `$txt['upgrade_bypass']` and `$txt['ftp_path_info']`, in which I think it is perfectly valid to have `<em>` and `<strong>` inside the strings. How would you do that otherwise without simply replacing it with another kind

[2018-01-07 21:11] frandominguezl commented on #4479
In the examples listed in #4470 there are some URLs inside some text strings, I'd be great if we could remove those. And in some cases like the one you mentioned, strong could be removed too. When not the full string is inside strong or em or anyother tag, we don't have any choice.

[2018-01-08 03:58] #4473 closed, assigned to nobody

[2018-01-08 04:11] Sesquipedalian commented on #4479
I approve of these plans.

[2018-01-08 11:19] Gwenwyfar commented on #4479
@Sesquipedalian just checking, you read all comments right?

I still don't see what's wrong with highlighting specific words/parts when needed.

[2018-01-08 21:12] Sesquipedalian commented on #4479
I meant that this sounds the right plan to me:

When there are HTML tags embedded within the string in ways that cannot easily be changed, they'll just need to stay as they are. But when, e.g., the entire string is wrapped in a &lt;strong>&lt;/strong>, the tags should be removed from the string and put into the template files.

As for the embedded URLs, those should be inserted into the string at

[2018-01-08 23:13] Gwenwyfar commented on #4479
Oh okay. That sounds like a plan. Thanks for the clarification :)

[2018-01-10 11:18] Sesquipedalian commented on #4297
After a good deal of investigation and poking around, I've found that there are *two* problems that need to be fixed in order to solve this bug.

First, as both @sbulen and @albertlast already know, the regular expressions for testing the cookie content need to be updated to match JSON'ed rather than serialized data.

But moreover, during my testing I kept getting other, similar errors even once t

[2018-01-10 20:33] Sesquipedalian commented on #4441
I've given a little push in the conversation on the forum. We should have the final answer soon so that @albertlast can finally implement his fix for this.

[edit] link removed. please dont link to private topics. - Illori

[2018-01-11 12:11] Gwenwyfar opened #4482 "Version emulation warnings"
Doesn't look like this should be intended behavior:

![emulation](https://user-images.githubusercontent.com/28991853/34824977-c83af9f2-f6b7-11e7-8d79-3506530d0b2e.png)

(This was running emulation for 2.0.14, 2.0.15 is not on the list yet)

[2018-01-11 23:22] #4441 closed, assigned to nobody

[2018-01-12 03:21] sbulen opened #4483 "Installer: Not working at all - knocked back to Welcome"
I'm trying to sneak in some testing, and the installer isn't working at all at the moment.

I keep getting bumped back to Step 1 (Welcome) after completing Step 3 (Database Settings).  No error messages, nothing, just get dumped back a step or two.

This is happening in my Windows environment (php5.6, MySql 5.7) and my unix environment (php5.6, MySql 5.5).

[2018-01-12 03:30] sbulen commented on #4483
Note the upgrader works fine.  So...  If you want a current git version to test with, you gotta install 2.0.15 & upgrade it to 2.1...

[2018-01-12 10:54] illori commented on #4482
that even happens in SMF 2.0 as it shows to the "files" that you are using a different version and a patch is available. i dont know if we can really fix this.

[2018-01-12 11:05] illori commented on #4483
does https://github.com/SimpleMachines/SMF2.1/blob/3cff847b25de82e9631fa7c883730a63dc53da92/other/install.php work for you? if so that means the recent changes broke it.

[2018-01-12 15:07] albertlast commented on #4483
I tested the setup with mysql and pg and it works.

[2018-01-12 22:50] Sesquipedalian commented on #4482
That's expected behaviour.

[2018-01-12 22:50] #4482 closed, assigned to nobody

[2018-01-13 05:43] sbulen commented on #4483
@illori changing that file alone does not work.  However, if I use a backup I have from 12/28 it works.

It'd be nice if someone else could try an install.

@albertlast  - what versions of php & mysql worked for you?  I wonder if it's a version issue.

[2018-01-13 05:55] sbulen commented on #4483
Something interesting - I get the exact same results (knocked back to welcome) if I type in total random input for DB values.  It is like error reporting &/or edits are being suppressed.

[2018-01-13 05:58] albertlast commented on #4483
windows php 7.2 maria 10.1
did you use maybe https while the setup progress?

[2018-01-13 06:00] sbulen commented on #4483
Yes, in both environments - like normal these days.

[2018-01-13 06:04] albertlast commented on #4483
try it without maybe is ther the root cause.

[2018-01-13 06:16] sbulen commented on #4483
Tried it without https, same thing.

[2018-01-13 07:18] sbulen commented on #4483
OK...  Brute force...   I started dropping commits one at a time, testing the install after each, until I got a clean install.  After dropping the last 7 commits, it worked.  The last working state is on Jan 5, after Colin's profile field fix.

[2018-01-13 07:38] albertlast commented on #4483
So the httpsOn pr is the first how not work?

[2018-01-13 11:42] sbulen commented on #4483
Yes

[2018-01-13 12:01] albertlast commented on #4483
Whenn you add this changes to your install.php:
https://github.com/SimpleMachines/SMF2.1/pull/4474/files#diff-84252cd3efeb19d2101b84d40680a3d0
than the install break again?

[2018-01-13 16:31] sbulen commented on #4483
If I start with the Jan 5 state (right after PR #4452), and install PR #4474 , the install cannot start.  The error message is:
`Fatal error: Call to undefined function httpsOn() in C:\Program Files (x86)\EasyPHP-Devserver-16.1\eds-www\VAN21\Settings.php on line 201`

[2018-01-13 16:35] albertlast commented on #4483
this is the fix for this: https://github.com/SimpleMachines/SMF2.1/commit/fef8ec51e095de885ed8d7e48400e4fc6cedf646

[2018-01-13 16:37] sbulen commented on #4483
I knew you were going to ask that, so I just installed PR #4480 .  This successfully reproduces the 'Knocked back to Welcome' issue.

So the issue is in #4474/#4480 somewhere.

[2018-01-13 16:40] albertlast commented on #4483
use a xdebug and give me feedback (i keep not able to produce the error)

[2018-01-13 16:47] sbulen commented on #4483
So you know what I've tried...  Last night, I was convinced it was a version issue and did a bunch of install tests on different versions.  These all have the issue:
unix, MySql 5.5 (Percona), php5.4
unix, MySql 5.5 (Percona), php5.6
unix, MySql 5.5 (Percona), php7.0
unix, MySql 5.5 (Percona), php7.1
windows, MySql 5.7, php5.6

I can't test MariaDB or php7.2 or pg at this time.

[2018-01-13 16:55] albertlast commented on #4483
this error is not related to your php and mysql version (i hope you realize that by your testing).
So you need to use a debugger and finde the place where to code get stuck.
You could place breakpoints on the header call and look which value the secure stuff got and
check if httpsOn is called (shouldn't but maybe it's called..)

[2018-01-13 18:33] Sesquipedalian commented on #4483
What happens if you replace `$secure` with `$httpsOn` in Settings.php? Normally, variable names are irrelevant, but `ForumSettings()` in install.php defines a local-scoped `$secure` before including Settings.php, where `$secure` has a global scope. I wouldn't think that should break anything, but... maybe?

[2018-01-13 18:41] albertlast commented on #4483
since the code reset the var to false everytime,
i miss on imagination that this solve the issue

[2018-01-13 19:28] sbulen commented on #4483
The new code in Settings.php is definitely part/all of the problem.  If I change that back to the way it was, the problem goes away.

I don't know _why_ it is causing the problem...   But it is.

The DatabaseSettings() ends up being called a couple of times after you enter DB info and press Continue.  The call to "make sure it works" here returns properly the first time, but the second time thru,

[2018-01-13 19:36] Sesquipedalian commented on #4483
I'm surprised that line uses `require()` rather than `require_once()`. What happens if you change that?

[2018-01-13 19:40] sbulen commented on #4483
In the installer, Settings.php is updated & re-invoked a few times, each time with more settings set.  As it goes along, it gets more complete depending on the step of the install.

I.e., you don't want a require_once.

[2018-01-13 19:45] Sesquipedalian commented on #4483
Fair enough.

[2018-01-13 20:27] sbulen commented on #4483
I'm tied up for most of the day - I may be able to take another quick peek tonight, but I'll be out of town for at least a couple days after that.

I.e., someone else may need to pick this up.

[2018-01-14 05:45] sbulen commented on #4483
**_Here's the problem..._**

The 'if file exists install.php' logic in settings.php is a special redirect that is ONLY INTENDED TO BE EXECUTED ONCE.  It is then deleted by updateSettingsFile().   Look at the logic at the top of the special install.php version of updateSettingsFile that does this, ~line1766:
https://github.com/SimpleMachines/SMF2.1/blob/5c1955aece013ab3d79e12dc5a4b0c7603041cf6/othe

[2018-01-14 07:10] albertlast commented on #4483
i only move the install.php and db related install file from other and
delete the settings.php in the root dir.
The setup create then a mucht smaller settings.php by his own,
as this in other directory.

Installer created settings.php: https://pastebin.com/m7SmxmEY
vs settings.php in other: https://pastebin.com/wa06mnyS

[2018-01-14 07:35] Sesquipedalian commented on #4483
Good detective work, @sbulen.

[2018-01-14 07:51] albertlast commented on #3764
My opnions about this feature request:
- ther is no dev how invest time in this
- when a user like this feature he could go and ask a mod maker
- for smf i see no benefit (when i'm the project manager i would forbid sutch feature in opensource software which is free)

so i would request to close this issue.

[2018-01-14 07:55] albertlast commented on #4408
Step 4 looks on my side so:
![grafik](https://user-images.githubusercontent.com/1782906/34913953-69d18512-f909-11e7-9424-cd56e36d01d0.png)
Looks good to me?

[2018-01-14 08:20] albertlast opened #4485 "RC1 Checklist"
Since the rc1 https://github.com/SimpleMachines/SMF2.1/milestone/6 is hard to follow
if a point is covered or not
i like to create this check list.

"Error Sources/Security.php" is not clear to me if it fixed or not.

legend:
No mark
![grafik](https://user-images.githubusercontent.com/1782906/47770595-43053580-dce0-11e8-8dc5-97cef83ce390.png)

mark
![grafik](https://user-images.githubusercontent.c

[2018-01-14 08:36] Sesquipedalian opened #4486 "Stray closing BBCode tags can mess up autoclosing of BBCode in posts"
Normally, parse_bbc() automatically closes any BBCodes in a post that the user forgot to close. For example, this:
[code]
will be turned into this:
[code]

However, if there is a closing tag for a BBCode, but no opening tag, the autoclose gets confused. For example, this (note the `[/s]`):
[code]
becomes:
[code]

[2018-01-14 08:55] #4297 closed, assigned to nobody

[2018-01-14 08:55] #4362 closed, assigned to nobody

[2018-01-14 08:55] #4364 closed, assigned to nobody

[2018-01-14 08:55] #4365 closed, assigned to nobody

[2018-01-14 08:55] #4366 closed, assigned to nobody

[2018-01-14 08:55] #4367 closed, assigned to nobody

[2018-01-14 08:55] #4368 closed, assigned to nobody

[2018-01-14 09:58] sbulen commented on #4483
Without copying settings.php,  you're not emulating what the actual install package will be like.  Your test is incomplete.

There might - hypothetically speaking - be a change someone makes to settings.php itself that needs testing.

[2018-01-14 10:14] Arantor commented on #4408
Now try using that bit at the bottom where you merge by topic id, and check it actually has a form tag to live in.

[2018-01-14 13:31] albertlast commented on #4408
I was hoping that is more intresting issue,
as that only the form tag is missing when the board is empty :(

[2018-01-14 13:47] Gwenwyfar commented on #4485
Can we add this to RC as well? #1401

Much more important than the avatars issue IMO.

[2018-01-14 13:48] albertlast commented on #4485
ask @colinschoen for me is this list only impoirtant to see if they covered by a pr or  not

[2018-01-14 13:54] frandominguezl commented on #3764
Why would you forbid to allow decimals in paid subs? What if someones wants to create a subscription of 4,50€/month?

[2018-01-14 13:59] BitFros7y commented on #3764
Plus there is currency conversion. If something costs 10EU, that will be around 11.50USD (just an example not accurate). So to allow people to pay in multiple currencies without requiring them to pay for conversion themselves decimals are a must.

[2018-01-14 14:01] albertlast commented on #3764
i would forbid to use smf for paid content,
so we make work for free someone else get paid for this and
we are responsible for this api.

loose - loose - win

so when you like the idea develop this or drop this feature request.

[2018-01-14 14:07] frandominguezl commented on #3764
We can't forbid SMF for anything. We just provide the software with X features, then anyone uses it as they want.

In fact SM gets some money from Paid Subs with the Charter Membership, and like us, there could be a lot of projects who just want some donations to keep their project running, that's what Paid Subscriptions are for.

[2018-01-14 14:07] BitFros7y commented on #3764
Well that payments could be a way to run community as non profit. They also could be a means of "donation" where donators are rewarded with some kind of rank on forums or something like that. Also people that earn using SMF could donate to SMF itself (rarely but it still happens).

[2018-01-14 14:07] Arantor commented on #4408
Sorry to disappoint, I'll see if I can find more interesting bugs for next time 😉

[2018-01-14 14:14] albertlast commented on #3764
Why is that important to the core of smf that this support exists?
Why can't mod provide this feature or a better version of the existing one?

[2018-01-14 21:23] #4331 closed, assigned to nobody

[2018-01-14 21:26] #4408 closed, assigned to nobody

[2018-01-14 21:33] Sesquipedalian commented on #4485
Agreed. Added.

[2018-01-14 21:37] Sesquipedalian commented on #3764
Because no functional mod for this currently exists, and I don't think we should rip out a core feature like this for no apparent reason. We may or may not bother to add decimal support before releasing 2.1, but there's no need to remove the Paid Subscriptions feature.

[2018-01-14 21:41] Sesquipedalian commented on #4485
I've added #1178 to RC1 as well. We don't want to put out a release candidate that contains a way for people to bypass part of the permissions system.

[2018-01-14 21:51] wintstar commented on #4451
Are there any news about this?  If this could be added to this list RC1 Checklist #4485.

[2018-01-14 22:04] Sesquipedalian commented on #4451
This bug is assigned to @colinschoen, and he is otherwise occupied at this time. When there is news about this bug, it will appear here automatically.

[2018-01-14 22:05] colinschoen commented on #4451
Thanks yeah on holiday for the next week. Will be tending to this when I get back along with a lot of other backlogged items.

[2018-01-14 22:11] wintstar commented on #4451
Thank you for your feedback.

[2018-01-14 22:52] sbulen commented on #4485
This one always bothered me, & felt like it should be resolved before RC: Issue #2939 .   force_ssl = 1 (login & reg only) doesn't work at all.  It should either work, or the option should be eliminated.

[2018-01-15 00:23] Sesquipedalian commented on #4485
Added.

[2018-01-15 05:13] albertlast commented on #2939
What are the reason not to drop this feature?

[2018-01-15 06:12] sbulen commented on #2939
That's a very good question.

My initial thought was to avoid "mixed content" issues such as broken links for those who wanted the image proxy off.   I.e., if you had https on but the proxy off, in the past some browsers really didn't like that.

This setting would be a good compromise.  You'd never have a mixed content page, most were http but https mainly when needed for security.

But I don't t

[2018-01-15 11:11] illori commented on #2939
if it is easier to remove this feature then fix it, lets remove it ASAP and move on.

[2018-01-15 17:19] albertlast commented on #2939
By removing the code i came to some places where i think "well this couldn't work",
since i see no benefit of doing a short time ssl only for "critcal" stuff.
I decided to remove this feature.

[2018-01-16 22:07] Sesquipedalian commented on #1178
Upon investigation, this has turned out to be two distinct bugs. So I am going to close this and create separate issues (and PRs) for each bug.

[2018-01-16 22:07] #1178 closed, assigned to Sesquipedalian

[2018-01-16 22:13] Sesquipedalian opened #4492 "Possible to post attachments without permission via ?action=calendar;sa=post"
For a description, see the "If the admin option to allow events that are not attached to posts is enabled" section of [this comment](https://github.com/SimpleMachines/SMF2.1/issues/1178#issuecomment-307890381)

[2018-01-16 22:17] Sesquipedalian opened #4493 "Incorrect posting options when posting via ?action=calendar;sa=post"
For a description, see the "If the admin option to allow events that are not attached to posts is disabled" section of [this comment](https://github.com/SimpleMachines/SMF2.1/issues/1178#issuecomment-307890381) as well as the relevant parts of the original bug description in #1178.

[2018-01-17 06:51] #4483 closed, assigned to nobody

[2018-01-17 08:02] wintstar opened #4496 "Display.php Undefined offset: 0"
Last Pull Request from today https://github.com/SimpleMachines/SMF2.1/pull/4484
Testet with Xampp
Forum version: SMF 2.1 Beta 4 (more detailed)
Current SMF version: SMF 2.1 Beta 3
GD version: bundled (2.1.0 compatible)
MySQLi engine: MariaDB
MySQLi version: 10.1.29-MariaDB
Alternative PHP Cache: 5.1.2
PHP: 7.1.11 (more detailed)
Server version: Apache/2.4.29 (Win32) OpenSSL/1.0.2l PHP/7.1.11

If I

[2018-01-17 08:25] Sesquipedalian commented on #4496
It sounds to me like you recently pulled in a bunch of code changes on top of an old installation that had not been updated since sometime before Aug 23, 2017, which is when the relevant lines were last changed. You should throw that one away and perform a fresh install.

[2018-01-17 08:25] #4496 closed, assigned to nobody

[2018-01-17 08:31] wintstar commented on #4496
I deleted all files except Settings.php and added  the files  from the newest pull request. I always test with the newest files.

[2018-01-17 08:32] Sesquipedalian commented on #4496
That doesn't do anything to update your database, though.

[2018-01-17 08:54] wintstar commented on #4496
Please look here to see how I update. It goes without saying that I also update the database.

http://www.stephan-frank.de/board/index.php/topic,11.msg27.html#msg27

[2018-01-17 09:03] Sesquipedalian commented on #4496
We do not support upgrading between beta versions of SMF 2.1. The upgrader is only designed for upgrading between released versions (e.g. 1.1 → 2.0, 2.0 → 2.1). As I said, you need to do a fresh install.

[2018-01-17 09:10] wintstar commented on #4496
My test forum for the German language file is based on a new installation. After errors have been detected, separate reinstallation always takes place. Only if there are the same mistakes, I report this here.

What is described in the topic on my website is a test to upgrade 2.0* to 2.1.  But as described above, the reported bugs are not from this test forum.

[2018-01-17 09:16] Sesquipedalian commented on #4496
Okay, then I need more information from you in order to reproduce this bug. I have tested just now on my own machines, and I could not reproduce the problem.

[2018-01-17 09:38] wintstar commented on #4496
With this pull request https://github.com/SimpleMachines/SMF2.1/pull/4488, I didn't have the error. Then I tried a new installation and had the same mistake as here https://github.com/SimpleMachines/SMF2.1/issues/4483.
Then I updated my test forum to today's Pull Request.I deleted all files and directories except for Settings. php and then I ran upgrade.php.

[2018-01-17 10:08] Sesquipedalian commented on #4496
Does the error you are reporting in this issue happen with a new installation?

[2018-01-17 10:47] wintstar commented on #4496
I have installed a new forum again. Since the error was not there, I compared the files. The only difference were the slashes before the directories in the Settings.php
I can't tell if it's the solution. But after the following changes in the settings. php the bug is fixed.
So far, at least in xampp, the values of the directories in the Settings.php file have been created:
`$sourcedir = 'C:\\xampp

[2018-01-19 15:07] Arantor opened #4498 "Unnecessary query for non-admins in Display.php"
The test that begins:

[code]

is incorrect. While, yes, if you have non-admins and have it set up so non-admin moderators can't move to anywhere they couldn't post, it runs the check even if the user otherwise doesn't have move rights.

I think it should be rewritten thus:

[code]

This way the boardsAllowedTo() call is only performed if the user could in theory move the topic, rather than for al

[2018-01-19 16:45] #4498 closed, assigned to nobody

[2018-01-19 17:28] Sesquipedalian opened #4500 "Need to implement "Some User search Bugs" fix from 2.0.15 patch"
It looks like some of the code from this bug fix has been implemented in 2.1, but not all of it.

@colinschoen, since (IIRC) you came up with that fix in the 2.0.15 patch, it might be best if you take point on this.

[2018-01-20 08:45] Sesquipedalian commented on #3592
This should definitely be fixed before RC1. Since I've been digging around in this part of the code lately, I may as well be the one to take this on.

[2018-01-20 08:50] Sesquipedalian commented on #4448
A few well-placed `if (!empty($user_info['possibly_robot']))` statements should do the trick. Care to put together an PR for this, @sbulen?

[2018-01-20 08:52] #4409 closed, assigned to nobody

[2018-01-21 17:32] albertlast commented on #4500
Worst issue descption ever,
can you somehow descrip what issue are ther?

To make clear my toughts,
unclean desciption + rate this as rc1 dependend.
Which in my eyes is not important for rc1.

[2018-01-21 17:35] sbulen commented on #4448
Will do.  I know SleePy already started this & I'll pick it up from there.

[2018-01-21 20:58] illori commented on #4500
this is a change that was made in the SMF 2.0.15 patch that HAS to be included in SMF 2.1.

[2018-01-21 23:11] Sesquipedalian commented on #4500
It's a good enough description to allow @colinschoen to know what he needs to do, and he is the one who ought to do it. The only reason I filed this report was to serve as a reminder to him once he returns from his vacation. You can feel free to ignore this one, @albertlast.

[2018-01-22 00:49] sbulen commented on #4448
PR #4503 submitted

[2018-01-22 04:17] albertlast commented on #4448
But this not slow down the page deliver time,
Which then hurt the ranking?

[2018-01-22 04:48] sbulen commented on #4448
Since this disables the proxy for crawlers - crawlers will actually see a pretty dramatic _improvement_ in response time.  (No waiting for the download/upload.)

I've had these changes on my production site in 2.0.15.  After I enabled the proxy on my site, Google performed a full-site recrawl (probably because they sensed the 301 redirect to https).  During the recrawl, my CPU went thru the roof &

[2018-01-22 05:20] albertlast commented on #4500
Since you tag this as rc1,
i can't ignore.
Because rc1 tag mean "needs to be fixed asap".
For something which "needs to be fixed asap" it need to be such a kind:
- security issue
- issue affected every user on every visit
- the board can be get destroyed
- kitty die when it keep

The the person how had the spare time had to fix it.

[2018-01-22 06:01] colinschoen commented on #4500
I’ll take care of this one. No worries.

[2018-01-22 06:18] Sesquipedalian commented on #4500
@colinschoen has already written the code that we need for this, @albertlast. He just forgot to add it to 2.1 when he added it to 2.0.15, so I made this to remind him. It would have been a waste of your time to develop another fix for this bug when we already have one.

[2018-01-22 19:50] #4459 closed, assigned to nobody

[2018-01-22 19:51] #4477 closed, assigned to nobody

[2018-01-23 07:24] #4448 closed, assigned to nobody

[2018-01-23 20:11] Sesquipedalian opened #4508 "Undefined index: s on line 511 of Subs-Db-mysql.php"
I've started getting this error sometimes since merging #4472.

The cause of the issue is that when `!empty($_SESSION['debug_redirect'])` is true, `$db_count` is incremented twice, once [here](https://github.com/SimpleMachines/SMF2.1/pull/4472/commits/eef44bda06f04efae95036d8892435141d63cdf8#diff-40a16e287462d60f366698be5e160838R358) and again [here](https://github.com/SimpleMachines/SMF2.1/pull/4

[2018-01-24 08:13] #4395 closed, assigned to nobody

[2018-01-24 09:07] #4508 closed, assigned to nobody

[2018-01-24 22:53] #4438 closed, assigned to nobody

[2018-01-26 03:11] #4492 closed, assigned to Sesquipedalian

[2018-01-26 03:55] #4500 closed, assigned to colinschoen

[2018-01-26 08:26] #2939 closed, assigned to nobody

[2018-01-26 20:35] #4486 closed, assigned to Sesquipedalian

[2018-01-26 21:41] #1189 closed, assigned to Sesquipedalian

[2018-01-26 21:49] sbulen commented on #4485
I have a suggestion...

Before we officially tag the release as RC, can we have a few days' warning?   I have a normal barrage of tests I run that I'd like to do once we think we're ready.

When Beta 3 came out, it felt to me like we had a flurry of activity, & then it was immediately released.  But it had a few kinda big issues, we could have easily caught.   I'd like to avoid that if we could fo

[2018-01-27 05:12] albertlast commented on #4485
My pov is that the talk is out of scope of this issue.
Create a own issue or create a topic with this questions.

[2018-01-27 08:46] albertlast commented on #4449
i see this issue as "feature request" and
i notice no one develop this features.
So it's relevant for rc1?

[2018-01-27 13:32] jdarwood007 commented on #4449
This would be a borderline feature request @albertlast.  It is a feature request in the sense we are adding new functionality.  However it also is a bug in the sense that the software is not managing its caching properly resulting in bloated storage usage.  @colinschoen can approve or deny the request to make this a addition or not sense there is doubt.  But he also added it as a milestone for RC1

[2018-01-27 20:40] sbulen opened #4516 "Persistent connection issue (2.0 & 2.1)"
This was reported by the forum user nend earlier, but I think it's important enough to put here.

$db_persist is not declared as a global in smf_db_query, and it is needed to support persistent connections:
[code]

In a related issue, sessionWrite ends up creating new db connections using this logic, since the connection seems to be getting closed before the session is written.  Persistent connect

[2018-01-27 21:20] colinschoen commented on #4449
This should be included in RC1. Without this feature and removing the SSL only for auth feature large boards are unable to realistically use SSL.

[2018-01-27 21:31] albertlast commented on #4516
The real issue in my eyes is:
~~that Subs-Db-mysql.php didn't support persist connection,
atm only pg does this but with a different var... $db_options['persist']
when you look in the mysql_* version/time ther was also support for persist and the var $db_options['persist'] was used.~~

looks fine to me you need to use the right var ($db_options['persist'] ) and mysqli_*

The whole "reconnect" logi

[2018-01-27 21:33] albertlast commented on #4449
ssl is not a real issue anymore today.
And smf 2.0.x got also no cache management?

[2018-01-28 00:37] sbulen commented on #4516
FYI - The setting is in both $db_persist (from settings.php) and in $db_options (it gets copied there in Load.php).  $db_persist is more commonly used; I don't know why it was also copied to $db_options.

The connection is indeed lost before sessionWrite().  This is easily verified in the debugger in 2.1.   I noticed this researching why 2.0.14 used more resources than 2.0.13.

I don't know why th

[2018-01-28 03:08] sbulen commented on #4516
This should probably be reopened.

Should we use $db_option as @albertlast suggested?

@albertlast - I am also interested in your take as to why the connections are getting lost.   (Starting with 2.0.14)

[2018-01-28 04:46] sbulen commented on #4516
Note from jdarwood on the PR I submitted:

Thanks for the explanation @jdarwood007 .

I'm still confused though.  Where is the API call that won't work?

Fixing the performance problem was at the top of my list.  I can't fix code that I can't see...

I propose that we separate the performance issue from the overwritten connection string issue.  The prior is an easy fix.  The latter, I admit I don'

[2018-01-28 04:53] albertlast commented on #4516
I will look into this issue (maybe i should it mention early),
because the logic of "reconnection" needs a fix also.

SMF 2.1 session management based on that database flags are setted,
but the reconnection logic doesn't set the right flags -> even when the reconnection solve the lost db connection,
you will run in the next issue because the connection flags are wrong.

[2018-01-28 04:58] colinschoen commented on #4449
What do you mean SSL is not a real issue anymore?

[2018-01-28 05:01] albertlast commented on #4449
In the past you did only ssl temporary because the heavy used of cpu and latency.
But now is common when you do ssl that you do a full ssl enviorment ->
is not more common to do only partial ssl stuff.

[2018-01-28 05:02] jdarwood007 commented on #4516
If you call smf_db_initiate multiple times for multiple databases, and you trigger this event or lets say trigger a database error that also uses similar code here, then upon it trying to reconnect to that database, this would fail.

Initially I thought this would be easier to solve in 2.0 since the database stuff for mysqli is a object, we could store private vars and recall them as needed.  But

[2018-01-28 05:02] sbulen commented on #4516
Thanks, @albertlast .

For the record, I must admit I'm more concerned with 2.0.14/2.0.15.  My CPU increased & became more erratic after upgrading to 2.0.14.  I'm still trying to stabilize my production website.  The doubling of db connections is one of the most significant changes I can identify.

And I really do mean doubling - every page has a db connection for the page and a 2nd one for sessio

[2018-01-28 05:05] sbulen commented on #4516
Thanks @jdarwood007 .  Our posts crossed.  My note above to albertlast still applies.

[2018-01-28 05:06] albertlast commented on #4516
Since i don't care about smf 2.0.x i only interested if this issue exists in 2.1 too or not.
Maybe a mod or something else close the connection before session write is done...

[2018-01-28 05:07] sbulen commented on #4516
The session is closing even on a pure vanilla 2.0.14/15 & 2.1 prior to sessionWrite().

A second connection is opened during sessionWrite, even just viewing the simple "welcome" post.  No mods, nothing special.  Not even a post.  Just viewing the initial install post.

2.0 & 2.1 have the same problem - and it's pretty bad on large forums during recrawls by search engines, since they hit EVERYTHING

[2018-01-28 05:08] jdarwood007 commented on #4516
@sbulen Ok.  I would be fine with this fix for 2.0.  Its a simple fix and I can not foresee it breaking anything for OOB users.  Those of us making use of smf_db_initiate would have problems with this, but at this point since the logic is already flawed, would be used to seeing its side effects.

[2018-01-28 05:12] albertlast commented on #4516
in 2.1 this issue which you describe can't exists,
because the postgresql didn't got this reconnect logic and
i didn't got any issue.

[2018-01-28 05:12] sbulen commented on #4516
I don't use pg.  And neither do 99+% of SMF users.  I'm talking about mysqli.

[2018-01-28 05:17] colinschoen commented on #4449
That is exactly my point... that is why the image proxy needs to not explode when nearly all forums are going to be using it because they are using SSL.

[2018-01-28 05:22] sbulen commented on #4516
And you won't see any issue until your site gets many thousands of hits in an hour - e.g., by a web crawler like Google.  I started looking into this after upgrading to 2.0.14/15 & getting re-crawled by Google.

Everything I see says the number of DB connections has doubled with 2.0.14 / 2.1.  **_Doubled._**

You can see the multiple connections in this profile on the left.  The test after applyin

[2018-01-28 05:34] albertlast commented on #4516
In my eyes i found the real issue in smf 2.1:
https://github.com/SimpleMachines/SMF2.1/blob/be71e66309af5d54726b96159f9ce4544a0a338e/Sources/Subs-Db-mysql.php#L77-L80
Needs to be (see $db_name):
[code]
In short the intial db connection method got an issue ->
reason why everytime the reconnection logic is called.

[2018-01-28 05:36] sbulen commented on #4516
$db_name is declared as a global about 6 lines above what you just showed.

[2018-01-28 05:38] sbulen commented on #4516
What you've got to ask yourself:  Why are $connection & $db_connection null/unset here?   But only during sessionWrite()?

[2018-01-28 05:38] albertlast commented on #4516
Yeah but not used in the mysqli_real_connect() call,
in my test env create this the issue that the connection is not created and the reconnection logic got in place.
So maybe is that the issue also in smf 2.0.x that the intial db connection call got an error like this,
so that the db call (maybe session write is the first call) needs to run the reconnect logic ->
the real issue would be than again

[2018-01-28 05:43] sbulen commented on #4516
If you continue the trace in 2.1, what happens is that upon first smf_db_query, a connection is made.

So, in 2.1, there is a mysqli_real_connect followed by a mysqli_connect.  (These are shown in my profiles above.)

On very complex pages, this is sufficient, and no further connects are requested.

Until sessionWrite()....   That's when the 2nd mysqli_connect occurs (as shown in the image above).

[2018-01-28 05:52] albertlast commented on #4516
jeah this follow up is another bug which needs to be fixed:
https://github.com/SimpleMachines/SMF2.1/blob/be71e66309af5d54726b96159f9ce4544a0a338e/Sources/Subs-Db-mysql.php#L96-L99
Needs to be:
[code]

[2018-01-28 06:07] albertlast commented on #4516
In smf 2.0.x the issue could be this (maybe more exists):
[code]

Since the sql_mode exists since 2.0.14 i believe that will cover your description.

[2018-01-28 11:52] illori commented on #4485
@sbulen that should be discussed on team boards ideally. usually a release has to be scheduled/approved etc. so there should be notice posted there.

[2018-01-28 21:29] jdarwood007 commented on #4516
https://secure.php.net/manual/en/mysqli.configuration.php#ini.mysqli.reconnect
https://secure.php.net/mysqli_ping

How about we make sure reconnect is enabled and then have mysqli_ping attempt a reconnection?  Seems all we need to supply is $(db_)?connection.
However since mysqlnd is becoming default, this won't work well on them.

The best solution would be to move over to using object based setu

[2018-01-28 21:37] albertlast commented on #4516
Ther is no general changed needed,
first fix the issues (see my pr).
Secondly centralize the connection code for intial and reconnect than we done.

Since the issues exists partly also in smf 2.0.x shows that the object attempt make no different here,
the implementation of smf 2.0.x is garbage in my eyes.

[2018-01-28 21:44] tinoest commented on #4516
You can always call mysqli_ping and if that fails then reconnect. It’s not to hard to have a reconnect function, your variables are all in scope still.

[2018-01-28 21:53] albertlast commented on #4516
When you like to slow down the mysql db version of smf feel free to do so.
So long you don't do such stuff on pg side i'm fine.

The "hard" part is that the logic should work, in the same when you connect intial or reconnect.
In existing solution this doesn't is the case,
also i would like to point out that the howl reconnect logic didn't exists in postgres AND mysql_\*.
The stuff was intial intro

[2018-01-28 23:42] wintstar opened #4520 "Missing page_id in database"
Version Information:
Forum version: SMF 2.1 Beta 4 (more detailed)
Current SMF version: SMF 2.1 Beta 3
GD version: bundled (2.1.0 compatible)
MySQLi engine: MySQL
MySQLi version: 5.6.26
Alternative PHP Cache: 5.1.2
PHP: 7.1.10 (more detailed)
Server version: Apache/2.4.28 (Win32) OpenSSL/1.0.2l PHP/7.1.10

**New install** with Pull Request https://github.com/SimpleMachines/SMF2.1/pull/4513

As I h

[2018-01-29 05:25] albertlast commented on #4520
The error doesn't mean that the collumn is missing,
what the message try to say is that $page_id is defined to use but empty:
https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/Sources/Display.php#L917

Can you describe more deeply what your steps are?
I'm not able to reproduce this error.
Did you got this error also in your new installation?
And a  `var_dump($start_char);` in line 902 in D

[2018-01-29 07:35] Sesquipedalian commented on #4520
My guess is that if you change the condition [here](https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/Sources/Display.php#L883) to `if (isset($start_char) && isset($page_id))`, that would solve the problem, @albertlast. But like you, I am very curious to know how @wintstar managed to trigger this error and what that `var_dump($start_char);` will produce.

[2018-01-29 07:39] albertlast commented on #4520
Yeah i know that the easy solution exists,
but i want to know the issue.

[2018-01-29 07:40] Sesquipedalian commented on #4520
Yes, me too. I'm quite curious about it.

[2018-01-29 08:26] wintstar commented on #4520
I've already tried to explain it in this issue https://github.com/SimpleMachines/SMF2.1/issues/4496 . I had written an post about the last changes to a pull request. When I had sent this off, I didn't return to this written post. When I then click on the last post in the forum overview in the Recent Posts block, I come to the last post on the previous page of the topic. If I then delete the cache

[2018-01-29 15:33] albertlast commented on #4520
To be ownest i don't understand you description.
Some one of the smf team mention as solution,
that you could describe the steps in german in a topic on sm.org (german area).
So that we keep albe to reproduce the error.

[2018-01-29 16:02] wintstar commented on #4520
Ich habe einen Beitrag erstellt. Dannach gelangte ich nicht zu diesem Beitrag, sondern zum letzten Beitrag auf der vorherigen Seite. Dann versuchte ich im Block Aktuelle Beiträge durch Klicken auf den letzten Beitrag zu diesem zu gelangen. Aber ich kam wieder nur zum letzten Beitrag der vorherigen Seite. Nachdem ich im Forum und Browser den Cache und die Cookies gelöscht habe, konnte ich ein paar

[2018-01-29 16:18] albertlast commented on #4520
Über quickreplay den beitrag erstellt oder ganz normal über post?

[2018-01-29 16:19] wintstar commented on #4520
Normal, **kein** Quickreplay

[2018-01-29 16:21] wintstar commented on #4520
Das merkwürdige ist, ist mir beim Schreiben aufgefallen, dass die Seiten Einstellungen im Profil nicht funktionieren.

[2018-01-29 16:21] albertlast commented on #4520
Kannst du den fehler in einer sauberen installation wieder holen?
und kannst du den fehler in deiner jetzigen reproduzieren?

[2018-01-29 16:23] wintstar commented on #4520
Habe ich gemacht. Wie ich oben geschrieben habe, bei frischer Installation alles ok. Aber wenn´Boards und Themen mit Antworten hinzukommen, kommt der Fehler.

[2018-01-29 16:33] albertlast commented on #4520
The setting of "Show most recent posts at the top in topic view." in the profile setting could be the root cause,
i will look into this.

[2018-01-29 16:33] wintstar commented on #4520
Ok, auch meine Vermutung.

[2018-01-29 17:09] albertlast commented on #4520
Please try the fix from pr #4522
you need a clean state,
way how you get this:
open a topic than go back and open a different topic = clean state.

[2018-01-29 17:32] wintstar commented on #4520
Fix durchgeführt. Seiten Anzeige Einstellung funktioniert nicht. Es scheint auch ein Fehler im Aktuellen Beiträge Block zu sein. Der zuletzt gepostete Beitrag erscheint dort nicht. Ganz oben ist nur der vorletzte.

![recent_block](https://user-images.githubusercontent.com/2753863/35524730-b9a721f8-0522-11e8-8f41-00366adf1572.jpg)

[2018-01-29 17:43] albertlast commented on #4520
Looks like a different issue,
which need to fix also.
But the first issue is fixed right?

[2018-01-29 17:55] wintstar commented on #4520
Nein. Die Seitenazahl entspricht nicht den Einstellungen im Profil. Und ich kommen nicht zum letzten Beitrag. Auch nicht mit dem Link mit dem grünen Pfeil wie oben im Screenshot. Immer auf den letzten Beitrag der vorletzten Seite. Es muss im Zusammenhang sein, mit den Pull Requests nachdem 17.01.2018 sein. Vorher war alles in Ordnung. Vermutlich dieser https://github.com/SimpleMachines/SMF2.1/pull

[2018-01-29 18:22] albertlast commented on #4520
That the id are different looks right,
but i notice a issue which could lead also to your bug.
So please try the updated pr.

You need again get sure that you got a clean state.

[2018-01-29 18:35] wintstar commented on #4520
Kleinen Moment bitte, ich rekonstruiere gerade mit welchem Pull Request der Fehler kam.

[2018-01-29 18:38] albertlast commented on #4520
The issue came with the implementation of my seeking pr.
I didn't know that the feature exists where you can change the sort of the topic.

[2018-01-29 18:40] wintstar commented on #4520
Ok, dann teste ich die neue Änderung. Moment.

[2018-01-29 19:46] wintstar commented on #4520
https://github.com/SimpleMachines/SMF2.1/pull/4522
Works. Also with the topics urls at the screenshot of the top.

[2018-01-30 11:09] illori commented on #4520
please reply in english so we can all understand what you are posting.

[2018-01-30 12:37] wintstar commented on #4520
@illori

Why don't you use [Deepl](https://www.deepl.com/home), too?
On request I also answer in German!

[2018-01-30 13:02] illori commented on #4520
That says on a topic on the forum not on github. It would be helpful if you
post in English here so everyone can understand you.

On Jan 30, 2018 7:38 AM, "wintstar" <notifications@github.com> wrote:

[2018-01-30 19:07] Sesquipedalian commented on #4520
In general, sure, answering in English makes it easier for most of us to understand. But in this case English was preventing rather than assisting communication. @albertlast explained in English the results of his conversation with @wintstar so that the rest of us could understand what was going on. If someone wants more details, translate.google.com isn't difficult to use.

So to my mind, everyth

[2018-01-30 22:05] Pipke opened #4523 "Profile summary Custom fields template creates empty gabs/elements"
example:
https://github.com/SimpleMachines/SMF2.1/blob/ac85d8c0fb1b070aaabfe622cf02839682c7eafb/Themes/default/Profile.template.php#L157

then this line checks if there are any, (there are always ones if you make one, but when the output
`if (!empty($field['output_html']))`
 is not entered/filled in by the profile holder then this check still makes the div?)
`if (!empty($context['print_custom_fiel

[2018-01-31 12:16] ghost opened #4524 "Function create_function() is deprecated in Sources/Load.php on line 220"
Hello,

such warning is show when SMF 2.0.15 has been installed on server with PHP 7.2.1. Log files are growing very fast.

[2018-01-31 13:05] frandominguezl commented on #4524
Hello, that's because the create_function() got deprecated for PHP 7.2
Easiest solution is to downgrade your PHP version.

Also, this is not the best place to post that since is the repo for 2.1 Development, and that issue is about 2.0.x

[2018-02-01 11:09] illori commented on #4524
since this is an SMF 2.0 issue i am closing this.

[2018-02-01 11:09] #4524 closed, assigned to nobody

[2018-02-02 16:13] Gwenwyfar commented on #4343
There seems to have been some confusion on this so just to clarify... I'm only getting a few css "fixes" up that were in the previous PR, someone else should take care of this issue.

[2018-02-02 21:28] albertlast commented on #4449
But the proxy size can not grow unlimited?
Because at one point all images are cached,
so would be mean you env needs to be right sized to fitt your size.

[2018-02-02 22:20] colinschoen commented on #4449
^ Can you rephrase please.

[2018-02-03 04:37] albertlast commented on #4449
Well you forum got a specific numbers of images let guess, 1000 img.
After time mostly all pic are in your proxy,
beside the user add some images they got also than added to the proxy.
Which results in specific size of the proxy which is needed for the proxy to work.
After reaching this point,
the proxy size should grow naturaly only on the base when user add a image?
Because the proxy will not ca

[2018-02-04 10:32] Gwenwyfar opened #4525 "Board themes not working properly"
Per report here: https://www.simplemachines.org/community/index.php?topic=558121.0

For this to work, the user needs to have the "Forum or Board Default" theme option selected in their profile.
For an admin user, this does not work, and so an admin is unable to see the board specific themes without forcing them for everyone.

[2018-02-04 13:37] albertlast commented on #4525
Was not able with php 7.2 in mysql/pg env to reproduce the error.
As second theme I used lunarfall

[2018-02-04 16:30] Gwenwyfar commented on #4525
In my tests I could not make it work for logged in users at all. It does display the right theme for guests however. Tested both php 7.2 and 5.5 with mysql on a live server.

[2018-02-04 16:44] Gwenwyfar commented on #4525
Just uploaded the PRs from the last ~2 weeks. Apparently something in them has fixed the issue. I'm closing this.

[2018-02-04 17:00] Gwenwyfar commented on #4525
So apparently, using the "Forum or Board default" selection in profile theme settings saves 1 instead of 0. Modifying the value directly on the DB makes it work properly.

What is weird is that unlike the posted issue, themes don't work even with "Override Member's Theme" checked, on neither of my 2 accounts (and one is a normal user account), so it may be two bugs.

[2018-02-09 02:44] #4493 closed, assigned to Sesquipedalian

[2018-02-09 02:45] #1066 closed, assigned to Sesquipedalian

[2018-02-09 02:45] #3959 closed, assigned to nobody

[2018-02-09 02:46] #4520 closed, assigned to nobody

[2018-02-09 02:46] #2985 closed, assigned to nobody

[2018-02-09 03:47] sbulen commented on #4516
This issue is still open.   (The global variable is still not declared. )

I think that after albertlast's other fixes,  it is quite possible that the remaining fix is to simply remove all the reconnect logic entirely.   That fix, I think,  got to the root cause that the author was trying to fix when adding the new connect logic.

We should fix or remove that logic.

[2018-02-09 05:25] albertlast commented on #4449
@sbulen what is the issue with existing solution to delete everything which is older than 5 days?

[2018-02-09 10:13] illori opened #4530 "BLOB/TEXT column 'txt' can't have a default value"
upgrade.php is giving this output and nothing else. it worked fine yesterday but not today.

BLOB/TEXT column 'txt' can't have a default value

[2018-02-09 10:59] illori commented on #4530
ran upgrade.php in browser and it did not have this error, ran it via cli and the error came up again

[2018-02-09 12:45] wintstar opened #4531 "Undefined variable: firstIndex"
Version Information:
Forum version: SMF 2.1 Beta 4 (more detailed)
Current SMF version: SMF 2.1 Beta 3
GD version: bundled (2.1.0 compatible)
MySQLi engine: MySQL
MySQLi version: 5.6.26
Alternative PHP Cache: 5.1.2
PHP: 7.1.10 (more detailed)
Server version: Apache/2.4.28 (Win32) OpenSSL/1.0.2l PHP/7.1.10

Upgrade with Pull Request #4526

If I reverse this change there is no error message https://

[2018-02-09 12:52] Gwenwyfar commented on #4531
It shouldn't have been merged without discussion really... So yeah, someone needs to update the upgrader now.

[2018-02-09 13:00] wintstar commented on #4531
@Gwenwyfar, this has nothing to do with Release 4526, it is related to Release https://github.com/SimpleMachines/SMF2.1/pull/4522. I just want to inform you that I downloaded the last Pull Request, in this case 4526.

[2018-02-09 16:17] sbulen commented on #4449
@albertlast - I've never seen it work...

That logic appears to be in the middle of the serve logic, so I believe it will only kick in if you request the image again???  Which is a strange time to delete it...

(And it's followed by another serve, which is also confusing - it looks like it just deletes it & adds it again?  I'm not sure how that is intended to work...)

In normal cache management,

[2018-02-09 16:18] wintstar commented on #4531
This issue have not todo with broken Smileys. So i think.

[2018-02-09 16:35] albertlast commented on #4449
Well this solution is a cache,
and a cached shoud also update the existing stuff,
so a definition of x days/timeunites is a good idea to refresh the existing stuff.

to know which is the least used you had to measure the use,
which could create again a overhead because you had to write this information somewhere.

The strong part of this implementation is that you got an easy why do finde the entr

[2018-02-09 17:08] sbulen commented on #4449
Yes you are correct - this should emphatically *not* be an online function.

This should fall more into the category of regular maintenance, similar to our weekly attachment cleanup or other batch jobs.

You can't tell at retrieval time if something is too old - because you just retrieved it & the clock should start over again.

[2018-02-09 17:37] #4531 closed, assigned to nobody

[2018-02-09 17:46] Sesquipedalian commented on #4449
That bit of code is meant to trigger a periodic update of the proxy's stored copy, in case the image changed at the source. It doesn't do any maintenance.

[2018-02-09 17:51] Sesquipedalian commented on #4449
I agree that incorporating something like @sbulen's proxy-maint-cron.php into SMF's maintenance tasks is an appropriate solution. I'll look into what I think is the best way to implement it, unless @sbulen would rather tackle it himself.

[2018-02-09 18:37] sbulen commented on #4449
D'oh!   (facepalm...)   NOW it makes sense...

I'm OK with taking it on, but it may take me a couple weeks.   Lots of RL challenges the last couple months.  The fog is just starting to clear...

[2018-02-09 19:59] wintstar opened #4536 "Fatal error after submit a post"
When I submit a contribution I get this error message.  I had already made this mistake before the issue Undefined variable: firstIndex.  And after Fix this issue, the error message still comes up.

[2018-02-09 20:42] Sesquipedalian opened #4538 "Quoting messages with embedded attachments results in buggy, inconsistent output"
There seems to be something buggy with the security checks when using the [attach] BBCode. Specifically, if the a post author inserts `[attach name=image.jpg type=image/jpeg]131[/attach]` into her post when attachment 131 is not actually attached to her post, things get a little weird.

The logic in `parseAttachBBC()` doesn't see anything wrong with a post including an attachment from another post

[2018-02-09 22:12] Sesquipedalian opened #4539 "Mods & admins posting from quick reply are NOT approved."
If the user is allowed to approve posts and replies using Quick Reply, the post is not approved at creation.

Appears to have been introduced in #4398

[2018-02-09 23:18] #4536 closed, assigned to nobody

[2018-02-09 23:47] #4539 closed, assigned to nobody

[2018-02-10 01:21] Gwenwyfar opened #4541 "Add language fails to connect"
Getting this error when trying to add a new language:

Nothing in the error log. It works fine in a 2.0 install so it doesn't look like it's a problem in simplemachines.org

[2018-02-10 04:48] albertlast commented on #4541
Can you provide the language file?

[2018-02-10 04:52] albertlast opened #4542 "Mysql Error"
From: https://github.com/SimpleMachines/SMF2.1/pull/4529#issuecomment-364613141
I gave this one a shot but I'm now getting lots of errors, just bringing up posts:

[code]

@sbulen are ther more warning from other files/line of code?
Or ways to reproduce this.

Sbulen you Subs-DB-mysql is out of sync.
You line 973 is in real version line 1023:
https://github.com/SimpleMachines/SMF2.1/blob/af2ef981e

[2018-02-10 06:50] #4542 closed, assigned to nobody

[2018-02-10 10:00] Gwenwyfar commented on #4541
I have only English. That's the "Download from simplemachines" field. There's no option to upload a package actually.

?action=admin;area=languages;sa=add;

[2018-02-10 10:51] albertlast commented on #4541
The url used by smf2.1 is: https://download.simplemachines.org/fetch_language.php?version=2.1+Beta+4
and this is a dead end -> sm.org issue.

Just for technical notice, the url is build here: https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/Sources/ManageLanguages.php#L149

[2018-02-10 11:16] illori opened #4543 "smileys png"
now that smileys are png for the smileys, we should force an upgrade of the filenames from gif to  png, right now they are failing to load as SMF thinks the smileys in the default folder should be gif.

[2018-02-10 11:17] XinYenFon opened #4544 "Responsive.css should load last"
To avoid over-usages of !important and more importantly avoid having issues related custom integrations etc... this file should be loaded last so its content will become the most important without usage of !important.

[2018-02-10 11:18] XinYenFon commented on #4543
I think #4532 handles that.

[2018-02-10 11:18] illori commented on #4543
yep, so closing this as that exists.

[2018-02-10 11:18] #4543 closed, assigned to nobody

[2018-02-10 11:46] XinYenFon commented on #4544
load sequence should be like;

index.css > page specific css (admin/calendar etc) > addon css (jquery.sceditor/slider etc) > variant css > rtl css > responsive.css

[2018-02-11 08:20] #4530 closed, assigned to nobody

[2018-02-14 13:45] albertlast commented on #4544
Please define the css order complet,
the existing load order is this:
Index, responsive, rtl, index_variant, rtl_variant, jquery.custom-scrollbar than optional stuff like jquery.sceditor

[2018-02-15 19:29] Juccapucca opened #4549 "Sending a Message Anyone in the Forum does not work"
Viestin  lähettäminen JollaSuomi Foorumilla ei toimi.

[2018-02-15 19:38] frandominguezl commented on #4549
Can you please write the issue in English?

[2018-02-15 19:40] wintstar commented on #4549
It's Finnish.  He says

@Juccapucca Käytä Google-kääntäjää  https://translate.google.de/

[2018-02-15 21:39] colinschoen commented on #4549
You will need to give us some more specifics...

[2018-02-16 08:51] Juccapucca commented on #4549
Here is screenshot from error, when posting new thread in JollaSuomi
Foorumi.

Br
Jukka

2018-02-15 23:39 GMT+02:00 Colin Schoen <notifications@github.com>:

[2018-02-16 12:11] frandominguezl commented on #4549
Sorry, but where's the screenshot?

[2018-02-16 12:19] Juccapucca commented on #4549
Sorry here attached.

2018-02-16 14:11 GMT+02:00 Fran Domínguez <notifications@github.com>:

[2018-02-16 12:25] frandominguezl commented on #4549
@Juccapucca I can't see anything... Are you sure that you're attaching anything here? Can you post a link to the picture instead?

[2018-02-16 12:27] Juccapucca commented on #4549
Open the attachment.

2018-02-16 14:25 GMT+02:00 Fran Domínguez <notifications@github.com>:

[2018-02-16 12:30] frandominguezl commented on #4549
There's no attachment in here

![](https://i.gyazo.com/ec9676495ae3554fee6c9eb079874954.png)

[2018-02-16 12:31] Juccapucca commented on #4549
Here is forum_error.png

2018-02-16 14:30 GMT+02:00 Fran Domínguez <notifications@github.com>:

[2018-02-16 16:03] frandominguezl commented on #4549
@Juccapucca You're replying and attaching via email and that doesn't work. You have to directly attach the image via GitHub. Make a comment and attach the screenshot here: https://github.com/SimpleMachines/SMF2.1/issues/4549

[2018-02-18 14:38] albertlast commented on #4343
When i understand correctly are more than css fixed not needed?!
And second guess would be that this is than enough:
[code]

[2018-02-19 21:29] illori opened #4552 "delete smiley set"
i checked the box to delete a smiley set, i was prompted with token verification failed. IMO this should be resolved before an RC release.

[2018-02-19 21:30] illori commented on #4552
tried it again, and got no error, resolving this bug.

[2018-02-19 21:30] #4552 closed, assigned to nobody

[2018-02-19 21:42] illori opened #4553 "close reports/ban this user icon"
i think these 2 separate actions should have different icons currently they have the same icon. although only limited users can ban, i still think the icons should not be the same for this.

also reopening a report uses the same icon

maybe the use of the balloon with the exclamation point could work for the ban this user option

[2018-02-21 07:20] gevv opened #4556 "Beta 4 new post, replay, preview Fatal error: Can't use function return value in write"
Hi,
Updated 2.0.15 to  2.1 beta 4

new post, replay, preview
![fatal](https://user-images.githubusercontent.com/5096676/36467673-d4e70318-16f0-11e8-8b46-f798d7082301.png)

Fatal error: Can't use function return value in write context in C:\wamp\www\smf\Sources\Post.php on line 166

[2018-02-21 07:31] Sesquipedalian commented on #4556
What PHP version are you using?

[2018-02-21 07:35] Sesquipedalian commented on #4556
Never mind. I just looked at line 166. Clearly you are using PHP 5.4. :)

I will submit a fix for this shortly.

[2018-02-21 07:54] gevv commented on #4556
thanks @Sesquipedalian   replay, preview   ok.

new post   db error

![db](https://user-images.githubusercontent.com/5096676/36468690-7c09df5e-16f5-11e8-972b-592cec03f2dd.png)

[2018-02-21 08:08] Sesquipedalian commented on #4556
'is_solved' does not exist in the standard version of SMF 2.1. You probably have a modification installed that is not currently compatible with 2.1 Beta 4. Try uninstalling and reinstalling the modification. If that does not work, you will need to uninstall it and wait for the creator of the modification to update it.

[2018-02-21 08:09] #4556 closed, assigned to nobody

[2018-02-21 11:26] illori opened #4558 "quick moderation icons/lock"
i changed to quick moderation icons, then i used the lock option. error log reports the following
	Type of error: General
2: strlen() expects parameter 1 to be string, array given http://localhost:8080/github2.1/index.php?action=quickmod;board=1.0;actions%5B111%5D=lock;b393f9d=d524a94797fb7ccadc396da9e276d3ea
D:/wamp/www/github2.1/Sources/Logging.php (Line 28)

[2018-02-21 11:39] illori opened #4559 "moved topic error"
tried to move a topic from one board to another using the quick moderation icons

	Type of error: Database
Database Error: Field 'modified_reason' doesn't have a default value

INSERT INTO smf1_messages(`id_board`, `id_topic`, `id_member`, `subject`, `body`, `poster_name`, `poster_email`, `poster_time`, `poster_ip`, `smileys_enabled`, `modified_name`, `icon`, `approved`)
VALUES
(1, 0, 2, SUBSTRING

[2018-02-21 11:41] illori commented on #4558
got the same error when doing a sticky using quick moderation icons

 Type of error: General
2: strlen() expects parameter 1 to be string, array given http://localhost:8080/github2.1/index.php?action=quickmod;board=1.0;actions%5B111%5D=sticky;b393f9d=d524a94797fb7ccadc396da9e276d3ea
D:/wamp/www/github2.1/Sources/Logging.php (Line 28)

[2018-02-21 11:52] illori opened #4560 "AIM custom profile field left behind"
AIM was removed, https://github.com/SimpleMachines/SMF2.1/pull/4442 but it seems to be left behind if you had it already. the icon is gone so the field completely should be removed or disabled so it does not show the broken image. or we need to provide direction for removing the left over field.

[2018-02-21 19:49] albertlast commented on #4559
As you see here:
https://github.com/SimpleMachines/SMF2.1/blob/048a3f7888949252f52987034885741ceaa9bfa9/other/upgrade_2-1_postgresql.sql#L1838
and here:
https://github.com/SimpleMachines/SMF2.1/blob/048a3f7888949252f52987034885741ceaa9bfa9/other/install_2-1_mysql.sql#L789
The setup and upgrade define the column right.

Wrong update file mention:
https://github.com/SimpleMachines/SMF2.1/blob/048a3f

[2018-02-21 19:53] illori commented on #4559
Well I run the upgrade every day and I don't have this on my install.

On Feb 21, 2018 2:50 PM, "albertlast" <notifications@github.com> wrote:

As you see here:
https://github.com/SimpleMachines/SMF2.1/blob/048a3f7888949252f5298703488574
1ceaa9bfa9/other/upgrade_2-1_postgresql.sql#L1838
and here:
https://github.com/SimpleMachines/SMF2.1/blob/048a3f7888949252f5298703488574
1ceaa9bfa9/other/install_

[2018-02-21 20:11] albertlast commented on #4559
Did you check your install and upgrade file if the line exists?

[2018-02-21 20:18] Sesquipedalian commented on #4560
Do you mean that you have a `cust_aolins` field in the `{$db_prefix}custom_fields` table?

[2018-02-21 20:32] illori commented on #4559
They are pulled from github directly daily. So if github has it I do.

On Feb 21, 2018 3:12 PM, "albertlast" <notifications@github.com> wrote:

[2018-02-21 20:34] illori commented on #4560
Yep. It is present.

On Feb 21, 2018 3:19 PM, "Jon Stovell" <notifications@github.com> wrote:

[2018-02-21 20:43] albertlast commented on #4559
Can you please check you smf 2.0.x base if the reason field/column already exists ther?

[2018-02-21 21:03] illori commented on #4559
What do you mean? This is a 2.1 install that gets upgraded to latest on
github daily.

On Feb 21, 2018 3:44 PM, "albertlast" <notifications@github.com> wrote:

Can you please check you smf 2.0.x base if the reason field/column already
exists ther?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/SimpleMachines/SMF2.1/iss

[2018-02-21 21:04] Sesquipedalian commented on #4560
Okay. That suggests that your database was initially created/upgraded using a version prior to #4442. Performing an upgrade from 2.0.x to 2.1 now won't create the `cust_aolins` field. Just go ahead and delete the AIM field using the admin panel, and chalk this one up to the "We don't support upgrading between betas" policy. :)

[2018-02-21 21:04] #4560 closed, assigned to nobody

[2018-02-21 21:08] #4558 closed, assigned to nobody

[2018-02-21 21:10] albertlast commented on #4559
the upgrade*.sql doesn't support the upgrade between 2.1 version.
so when you run the upgrade*.sql you need a smf2.0.x base.
And i ask you to look into you 2.0.x base if the field exists ther in the table messages.

[2018-02-21 21:14] illori commented on #4559
This can be resolved then. I will change it manually. That field did not
exist in smf 2.0.

On Feb 21, 2018 4:11 PM, "albertlast" <notifications@github.com> wrote:

[2018-02-21 22:21] #4559 closed, assigned to nobody

[2018-02-22 16:14] Oldiesmann commented on #4541
It doesn't work because 2.1 Beta 4 hasn't been released, so we don't have any language packs for that version.

[2018-02-22 16:16] XinYenFon commented on #4541
@Gwenwyfar probably forgot to close this 😆

[2018-02-22 17:56] Gwenwyfar commented on #4541
There seems to be a problem with the link for all versions, Beta 3 doesn't work either. @jdarwood007 said we could leave this open.

[2018-02-23 07:03] #4456 closed, assigned to nobody

[2018-02-25 06:37] #4544 closed, assigned to nobody

[2018-02-25 08:30] wintstar commented on #4451
Thanks yeah on holiday for the next week. Will be tending to this when I get back along with a lot of other backlogged items.

Are there any news about this and https://github.com/SimpleMachines/SMF2.1/pull/4452?

[2018-02-26 04:51] Sesquipedalian opened #4567 "Should upgrade SCEditor to version 2"
We're still using SCEditor 1.5.2. At the time of writing, SCEditor 2.1.2 is the most recent. There are some good reasons to upgrade, but it will take [a bit of work](https://www.sceditor.com/posts/migrating-to-v2/).

[2018-02-26 06:03] albertlast commented on #4567
Will you look into or how will do it?

[2018-02-26 17:14] #4343 closed, assigned to nobody

[2018-02-26 17:16] Sesquipedalian commented on #4567
Yes, I have started working on it. I opened the issue just to remind myself to come back to it if I get interrupted before it is done.

[2018-02-26 17:55] Sesquipedalian commented on #4553
Thanks for taking this, @Gwenwyfar.

[2018-02-27 11:36] smfbigguy opened #4571 "2 page topic"
From this post at SMF:
https://www.simplemachines.org/community/index.php?topic=559080.0;topicseen

So there seems to be something else going on with SMF. I have a topic that had just hit the second page. Which means my post made the second page of that topic. When that happened some weird crap started to happen and I did get database errors. Those errors did stop until I started to post in the to

[2018-02-27 13:18] equinoxmatt commented on #4571
Suspect commit: https://github.com/SimpleMachines/SMF2.1/commit/1178ca3f01b8bd95a3fde25181650a995c59b16e

PR: https://github.com/SimpleMachines/SMF2.1/pull/4226

Not had time to look at what in that commit broke it, but that is the commit where it breaks first.

[2018-02-27 18:16] albertlast commented on #4571
@Sesquipedalian did use the wrong word, so this issue got not closed automaticaly...

[2018-02-27 19:32] #4571 closed, assigned to nobody

[2018-02-28 10:09] illori commented on #2966
sorry re-opening this issue. if you do NOT have the WYSIWYG editor enabled, and can view the code of the bbc the button says view source, this toggles you into the WYSIWYG editor where you dont see the code. the text on the icon does not change at all depending on which mode you are in. can change it to toggle editor or similar? as it is not correct right now.

[2018-02-28 12:27] smfbigguy opened #4575 "iurl"
From this post at SMF:

https://www.simplemachines.org/community/index.php?topic=559094.0

The editor for posting may have a bug. When using the url button it only makes url's into iurl. Please see the post at SMF

[2018-02-28 18:57] Gwenwyfar commented on #4379
I just noticed my test alert is still triggering inside PMs

[2018-02-28 22:45] illori commented on #4379
if you show that field on the memberlist, does the test alert show up there?
(i have not tested it)

[2018-02-28 22:49] illori opened #4577 "help tip icon alignment edit profile fields"
the help tip icon is not aligned correctly on the edit profile field page, it is a little high, other pages it seems in line but in firefox on this page it is a slight higher then other pages.

[2018-03-01 03:03] Sesquipedalian commented on #4379
@Gwenwyfar, is that due to an old field value left over from when you were testing this before, or are you able to enter new values to cause this now?

[2018-03-01 03:35] albertlast commented on #4577
Can you please add a screenshot to this kind of error?

[2018-03-01 04:21] Sesquipedalian commented on #2966
You're persistent, @illori, I'll give you that. But still, this the standard behaviour of SCEditor, and I don't see a compelling reason to override it. When the button is in active state, the user is viewing the source code of their message. It is the same behaviour as, say, the bold button. When the cursor is in the middle of some bold text, the bold button is shown in active state, but we don't

[2018-03-01 10:05] illori commented on #2966
in SMF 2.0 it says toggle view, i think that is better then what we have now. i think the current option is not correct. this is not a major change but i think it is necessary to be done.

[2018-03-01 10:06] illori commented on #4577
![](https://i.imgur.com/Sz5uGMX.png)

[2018-03-01 10:06] illori commented on #4577
i dont know why the text is bolded as it is not on other pages in the admin panel.

[2018-03-01 15:10] Gwenwyfar commented on #4379
Is the check done only upon saving then? I indeed can't re-save the old field. I suppose I was expecting it to work in the same way as the profile view does, it simply displays the code without executing. Wouldn't that be better?

@illori : No, it does the same as the main profile view in the memberlist, simply displays the code as text.

[2018-03-01 16:16] #4465 closed, assigned to nobody

[2018-03-01 16:38] Sesquipedalian commented on #4379
I don't know yet. I haven't had a chance to look at this part of the code yet. I'm trying to gather some initial information to help me focus in on the right parts of the code when I get a chance to look at it. Based on what you've said, it sounds like the following statements describe the situation.

1. `<script>alert('test');</script>` is an old field value leftover from before #4380 was merged.

[2018-03-01 16:48] equinoxmatt commented on #3764
I was thinking about this. I am of the opinion that this should never have been introduced as a core feature.  It shouts 'mod' to me.  It could have even been an 'official' mod.

That being said, it is a core feature and removing it isn't a viable option.  However, if we have a feature like this (which we do), it should be implemented properly.  Not accepting decimals isn't in my view 'working pro

[2018-03-01 17:03] Sesquipedalian commented on #2966
The majority opinion has disagreed with you. https://is.gd/AtxzEl :)

[2018-03-01 17:03] #2966 closed, assigned to Gwenwyfar

[2018-03-01 17:12] Sesquipedalian commented on #3764
Would you be willing to put together a PR to implement this, @equinoxmatt? As I said in a previous comment, it shouldn't be difficult to code. It just requires very thorough testing.

[2018-03-01 17:23] equinoxmatt commented on #3764
@Sesquipedalian , yep no problem.  Will have to give me a couple of weeks though, I have a bit on, but should be able to get round to it. 👍

[2018-03-01 17:26] Sesquipedalian commented on #3764
Excellent! :)

[2018-03-01 17:30] Gwenwyfar commented on #4379
That's all correct. The script is executed on pages that have a PM from a member that has the code in the profile; essentially the same as the topic view problem.

[2018-03-01 17:33] illori commented on #2966
That is too bad. We just need to change one text string.

On Mar 1, 2018 12:03 PM, "Jon Stovell" <notifications@github.com> wrote:

The consensus opinion has disagreed with you. https://is.gd/AtxzEl :)

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub
<https://github.com/SimpleMachines/SMF2.1/issues/2966#issuecomment-369660005>,
or

[2018-03-01 18:32] Sesquipedalian commented on #2966
Actually no, we would need to do a bunch of work to override SCEditor's internals. It's really not worthwhile for such a minor change (even if the majority agreed that there was anything wrong with the default behaviour to begin with).

[2018-03-03 12:16] frandominguezl commented on #4479
https://github.com/SimpleMachines/SMF2.1/blob/384945c1aac5b8e99d446f84db5dd5d0961fbd4b/Themes/default/languages/ManageSettings.english.php#L370

What should we do with strings like that? I think there are a few. That one refers to:
https://github.com/SimpleMachines/SMF2.1/blob/384945c1aac5b8e99d446f84db5dd5d0961fbd4b/Themes/default/ManageLanguages.template.php#L59

[2018-03-03 12:25] #4421 closed, assigned to colinschoen

[2018-03-03 14:21] Gwenwyfar commented on #4479
I don't see anything wrong with those. The alternative is making them boring plain text. Same for the lists, but maybe we can drop the "normallist" class from them, I'll have to check.

[2018-03-03 19:36] Gwenwyfar opened #4579 "Empty custom fields display on memberlist"
From https://www.simplemachines.org/community/index.php?topic=554449.0:

[2018-03-04 00:38] sbulen opened #4581 "Image proxy issue - cURL gets a 403 Forbidden (2.0 & 2.1)"
No fix yet, but I have started to zero in on one of the issues with the proxy on my site.  I'll share what I know so far.

Although many images are easily retrievable via other means, under the covers, a 403 Forbidden is returned to cURL.  The host server may not return that it is an image/jpeg in the header either.  All this basically makes the proxy punt on it, leaving blank space on the page.

[2018-03-04 04:34] #4516 closed, assigned to nobody

[2018-03-04 05:36] albertlast commented on #4581
I think the issue got already fix in this pr
https://github.com/SimpleMachines/SMF2.1/pull/4550 please do a test.

[2018-03-04 06:03] sbulen opened #4582 "Enabling persistent connections generates errors"
This error is now generated:
[code]
To reproduce, simply enable the option & navigate anywhere.

Latest & greatest.

Edit:  This is on my linux server, php7.1, mysql5.5

[2018-03-04 06:14] sbulen opened #4583 "Cannot enable/disable image proxy"
The box is protected & cannot be changed no matter what...

![image](https://user-images.githubusercontent.com/23568484/36942791-3c23fa58-1f30-11e8-91f3-9e5d80ddc57a.png)

Latest & greatest from Github

[2018-03-04 06:18] sbulen commented on #4581
I just tried #4550 and it did not resolve this issue.

[2018-03-04 07:26] albertlast commented on #4581
the issue that you got a blank image i guess?

The code say when curl get not a 200 status: https://github.com/SimpleMachines/SMF2.1/pull/4550/files#diff-95dde0693614aded154dc51012aba3b8R105
then show a empty page.
From this point of view we got two options,
- change nothing because works as designed
- when error appear forword the user like we do on to big images (with the issue that we try to di

[2018-03-04 07:30] albertlast commented on #4583
is already fixed in the external proxy pr: https://github.com/SimpleMachines/SMF2.1/pull/4565/files#diff-1c4d2816e84d2562fd969408e87e24d0R222

[2018-03-04 07:46] sbulen commented on #4581
Yes - blank image.  The problem is that the  403 is erroneous - the image is there.  Just follow the link above.  I believe our cURL options are wrong somehow and don't work with some servers.

I do believe that if we get past the cURL issue the content type issue goes away also (it does in my other environment).

[2018-03-04 07:54] albertlast commented on #4582
I went to settings.php
set $db_persist = 1;
set a breakpoint at line 67 notice that the persistent is true,
also notice that line 80 was $success is 1 (true)
This part get called twice once by load.php and once by cron.php and
everytime sucess was 1 and no error appears.

In short i'm not able to reproduce your error.

[2018-03-04 08:11] albertlast commented on #4581
i'm not sure if you read my update at comment,
about the options.

Since my test env is also windows i'm not able to reproduce this (the image get loaded),
but you could try to find the diff between you win and linux env.
I would hope that the diff is in the request header and this you could access by this: https://stackoverflow.com/questions/3164405/show-curl-post-request-headers-is-there-a-way-t

[2018-03-04 15:36] sbulen commented on #4582
I set it using the db field in the application.  Under Server settings | database.

[2018-03-04 19:15] sbulen commented on #4582
I also just tried it by updating settings.php as you describe.  Same issue either way.

Note that this is in my linux system.

I have attempted to install a fresh 2.1 in my WAMP system, to see if the issues are unique to linux, but that has failed for a variety of different reasons.  I'm about to log a different issue for that.

[2018-03-04 19:17] albertlast commented on #4582
The essential diff between win and linux is,
when you use "localhost" on linux you use socket connection on windows you use always tcp/ip.
On linux you can force this by using 127.0.0.1

[2018-03-04 19:21] sbulen opened #4584 "Fresh install - numerous issues - connection, mysqli errors, session verification issues (WAMP only, not linux)"
Fresh install, latest from github.   I am having several issues attempting to test on my WAMP server (php5.6, mysql5.7).   I am, oddly, NOT having these issues on my linux server (php7.1, mysql5.5).  Fresh current install attempts on both, within the last hour.

(1) Cannot connect to DB towards end of install.
(2) Numerous mysqli errors.
(3) Cannot enter admin panel - session verification errors t

[2018-03-04 19:29] albertlast commented on #4582
By playing with my version a error raised which could be yours too,
go to Subs-Db-mysql.php in line 72:
`$flags = MYSQLI_CLIENT_FOUND_ROWS;` to `$flags = 2; //MYSQLI_CLIENT_FOUND_ROWS = 2`

[2018-03-04 19:35] sbulen commented on #4584
So...  I tried logging off & back in as instructed.  Could not log off - more of the same session verification failed issues.  So I deleted all my cookies & tried logging on.   I got further this time - but after entering my credentials, got the following blank (-ish) screen.
![newinstall-admin-login-problem](https://user-images.githubusercontent.com/23568484/36949647-2faa3182-1fa0-11e8-8496-2eecc

[2018-03-04 19:48] sbulen commented on #4582
That change did not get rid of the error.

[2018-03-04 20:05] sbulen commented on #4581
Note we already set CUROPT_HEADER here:
https://github.com/SimpleMachines/SMF2.1/blob/9c605bce14fb19718217675953ac014361a8ff8a/Sources/Class-CurlFetchWeb.php#L47

I've been able to confirm the same CURL options are passed in both win & linux.  (No surprise, same code...)

I haven't yet figured out where to find the header data that is passed.  It doesn't appear to be saved in the SMF $curl object.

[2018-03-04 20:07] albertlast commented on #4581
the stackoverflow url which i postet in the comment before show you how to access this information.

[2018-03-04 20:13] sbulen commented on #4581
Actually, it doesn't.    The only example is how to get the error code, which is already captured & provided by our curl object (as are the *returned* headers).  It doesn't actually show you where the *sent* header is.

One of the responses shows you how to dictate your own header...  That is interesting.

As I stated, I'll keep looking into it.

[2018-03-04 20:19] albertlast commented on #4584
places some changes to make a better error handling: https://github.com/SimpleMachines/SMF2.1/pull/4585
but the root cause keeps unclear.

[2018-03-04 21:45] albertlast commented on #4584
The laste update of #4585 should solve your issue complet,
maybe i need to tune something around this,
but not today any more.

[2018-03-04 22:56] sbulen commented on #4581
Assuming I'm reading this right...   The header coming from the working system looks like this:
[code]

And the header from the non-working systems is BLANK...

I suspect the problem is that first line, which is non-standard (not key:attr)????   So it's getting stripped.

Similar issue reported here:
https://stackoverflow.com/questions/13466239/curl-sending-blank-headertesting-java-web-server

Nex

[2018-03-04 23:19] Gwenwyfar commented on #4584
Session errors on login/logout confirmed here for php 5.6 and below (doesn't happen in 7+), started with #4529. #4585 has fixed it for me.

[2018-03-04 23:38] sbulen commented on #4581
The header appears consistent...  Now I'm really confused.  They both look like:
[code]

I was able to find it in 'request_header' from curl_getinfo after setting CURLINFO_HEADER_OUT to true as described on this page:
http://php.net/manual/en/function.curl-getinfo.php

[2018-03-05 00:50] sbulen commented on #4584
Confirmed - #4585 addresses all of these errors.

[2018-03-05 00:52] sbulen commented on #4582
As an FYI - I do not have this issue on my WAMP server (php5.6, mysql5.7), only my linux server (php7.1, mysql5.5).

[2018-03-05 01:04] Gwenwyfar commented on #4582
Not happening for me on php 7.1.14 and mysql 5.6.39, linux server. Does the last merged PR change anything, @sbulen?

[2018-03-05 01:13] Sesquipedalian commented on #4581
I just tested http://www.primovasound.com/gfx/base3.jpg and http://www.primovasound.com/gfx/gkpx_14_2017.jpg using a Linux server, and proxy.php was able to retrieve and display both images correctly. I don't know what's up with your configuration, @sbulen, but the problem doesn't appear to be in proxy.php's code.

Speculation: Perhaps you have been testing against that URL a lot recently, and the

[2018-03-05 01:48] sbulen commented on #4581
Anything's possible.  The engineer who runs that website was the one who pointed out the issue - that all his images disappeared throughout our forum.  I'll reach out to him directly, to see if I can learn anything there.  I'm guessing he runs the website, too...

Note that the 403 is under the covers & happens at cache time - it appears as a 404 to the end user as the cached file really does not

[2018-03-05 02:00] sbulen commented on #4582
No - I just double-checked.   I see this issue in php7.0 & 7.1.4 when persistent db sessions is enabled.

But it does NOT happen when I have persistent db connections enabled under php5.6.

[2018-03-05 15:08] Gwenwyfar opened #4586 "Theme packages compressed as tar.gz install with .tar in the name"
![name](https://user-images.githubusercontent.com/28991853/36982110-c65502b0-206d-11e8-9bc0-0f1f3f97f72d.png)

[2018-03-05 15:37] Gwenwyfar commented on #4582
Could it be related to the php version mysql is using to run? Phpmyadmin still always tells me php version is 5.6, even if everything else is changed to 7.1 (through multiPHP manager)

[2018-03-05 16:54] albertlast commented on #4582
testet on php 5.6 and 7.2 with maria 10.1 no error appears.

[2018-03-05 16:56] albertlast commented on #4584
than close please this issue

[2018-03-05 17:02] sbulen commented on #4582
@Gwenwyfar - My php version selector has properly reported version #s throughout testing - I think the version #s are proper.

FYI - I always start a round of tests with a fresh install.   (Including copying Setting.php from /other to boarddir.)

[2018-03-05 17:05] sbulen commented on #4584
Yes - now that it's been merged!

[2018-03-05 17:05] #4584 closed, assigned to nobody

[2018-03-05 17:14] Gwenwyfar commented on #4582
What I meant is that if this is a version specific bug, then it may not happen for me because my mysql is running on php 5.6 (even while the rest of the forum runs in 7.1). Or it could be unrelated, just making sure we have the right info. It seems like the mysql php version and the php version for everything else are separate in my server, which is why I brought this up.

As an added note, I also

[2018-03-06 03:31] sbulen commented on #4582
Got to the bottom of this one...   Buried in the error log was the following:

`[04-Mar-2018 20:07:59 America/Chicago] PHP Warning:  mysqli_real_connect(): Persistent connections are disabled. Downgrading to normal ....`

I theorize that the error getting written to stderr was considered output, hence the "Cannot modify header" error?

I'll leave this open for a few hours so folks can see the reso

[2018-03-06 04:33] albertlast commented on #4582
Can u check if
mysqli.allow_persistent
Is false?
When yes we could check this before you try to activate persistent connection.

[2018-03-06 04:44] sbulen commented on #4582
Correct, it's false.  You are right, it should probably be checked.

I think it is odd I had no error in 5.6...

[2018-03-06 04:53] sbulen commented on #4582
Well...  I just changed my environment to 5.6 & now mysqli.allow_persistent is true.

So, in my environment, the default changes to false with php 7.0/7.1.  That explains that...

[2018-03-06 05:20] albertlast commented on #4582
Than keep the issue open,
i will make a pr how will make this issue more visible to the admin.

[2018-03-06 22:12] #4582 closed, assigned to nobody

[2018-03-07 11:46] wintstar opened #4588 "Hardcoded Text in ugrade.php"
Version Information:
Forum version: SMF 2.1 Beta 4 (more detailed)
Current SMF version: SMF 2.1 Beta 3
GD version: bundled (2.1.0 compatible)
MySQLi engine: MariaDB
MySQLi version: 10.1.29-MariaDB
Alternative PHP Cache: 5.1.2
PHP: 7.1.11 (more detailed)
Server version: Apache/2.4.29 (Win32) OpenSSL/1.0.2l PHP/7.1.11

Tested with the last Pull Request #4578  from today

Page Title in the Steps are

[2018-03-07 11:52] wintstar opened #4589 "Gender Icons not display"
Version Information:
Forum version: SMF 2.1 Beta 4 (more detailed)
Current SMF version: SMF 2.1 Beta 3
GD version: bundled (2.1.0 compatible)
MySQLi engine: MariaDB
MySQLi version: 10.1.29-MariaDB
Alternative PHP Cache: 5.1.2
PHP: 7.1.11 (more detailed)
Server version: Apache/2.4.29 (Win32) OpenSSL/1.0.2l PHP/7.1.11

Tested with the last Pull Request #4578 from today

Gender Icons not display in S

[2018-03-07 17:55] Sesquipedalian commented on #4588
Apparently these were missed in #4470.

[2018-03-07 17:55] Sesquipedalian commented on #4588
@d3vcho

[2018-03-07 17:57] Sesquipedalian commented on #4589
This should be fixed in #4574.

[2018-03-07 18:19] wintstar commented on #4589
In Summary works. In Memberlist **not work**.

![gender_9](https://user-images.githubusercontent.com/2753863/37110576-920e28d4-223d-11e8-94f9-40ad9d971d98.png)

[2018-03-07 18:31] wintstar commented on #4588
German translate for testing

[Install.german.php.zip](https://github.com/SimpleMachines/SMF2.1/files/1790375/Install.german.php.zip)

[2018-03-07 19:18] Pipke commented on #4523
@you guys didnt check the whole template function: fix need also on:
https://github.com/SimpleMachines/SMF2.1/blob/8d1092c1fa3a556ce2cdefc8a131d1cb75f270ea/Themes/default/Profile.template.php#L206

[2018-03-07 19:26] Pipke opened #4590 "profile summary Custom fields template creates empty elements (part 2)"
see #4523 wich is closed, do not know how to re-open it, or if i can.

@you guys didnt check the whole template function: fix need also on:
https://github.com/SimpleMachines/SMF2.1/blob/8d1092c1fa3a556ce2cdefc8a131d1cb75f270ea/Themes/default/Profile.template.php#L206

[2018-03-07 19:33] frandominguezl commented on #4588
Yup I missed those. Thanks for reporting. I'll submit a pull request as soon as I can.

[2018-03-07 20:09] Sesquipedalian commented on #4590
Reopened existing issue.

[2018-03-07 20:09] #4590 closed, assigned to nobody

[2018-03-07 20:44] #4588 closed, assigned to nobody

[2018-03-08 05:34] #3592 closed, assigned to Sesquipedalian

[2018-03-08 05:35] sbulen commented on #4581
I haven't heard back, but I am fairly certain that his ISP has blocked certain traffic from my ISP.  This being the internet, these things happen...

**_I have confirmed that using fetch_web_data() solves my issues._**  I had to followup with a finfo_buffer(FILEINFO_MIME_TYPE) call to get the content_type, and a strlen() call to get the size.

[2018-03-08 05:40] Sesquipedalian commented on #4581
Okay. That being the case, shall we close this issue?

[2018-03-08 06:04] sbulen commented on #4581
It would make sense to retest & close after making that change.   Apparently, I got a good test case here!

[2018-03-08 06:12] Sesquipedalian commented on #4581
Sorry, but which change do you mean?

[2018-03-08 06:16] sbulen commented on #4581
Using fetch_web_data() instead of a direct call to curl.  As you propose on PR #4550.

[2018-03-08 06:20] Sesquipedalian commented on #4581
Ah, I see. Thanks for the clarification. :)

[2018-03-08 07:57] #4449 closed, assigned to nobody

[2018-03-08 12:47] smfbigguy opened #4594 "banned"
Members that are banned on the forum receive a message. If you hover your mouse over the red dot on the who's online list you can see what the banned members message is. Please see screenshot. My message shows breaks in between the words. Posted on SMF here:

https://www.simplemachines.org/community/index.php?topic=559233.0

![banned](https://user-images.githubusercontent.com/3620111/37151743-d26d

[2018-03-08 17:10] Gwenwyfar opened #4595 "Better acessibility support"
I was reading more about web accessibility support and we are lacking in a lot of things such as proper label/tags use, as well as use of role tags, etc. It calls for a revision on the templates to make sure we have at least all the basics. I don't think we need this for RC, but this should be done before 2.1 goes gold.

Once I've researched this better I'll make a list of everything to review on

[2018-03-08 18:03] Sesquipedalian commented on #4595
Excellent! I am strongly in favour of this. Please do, @Gwenwyfar!

[2018-03-08 18:23] albertlast commented on #4538
The last open point on the list (when no other point  get added),
did you look by your self into this @Sesquipedalian ?

[2018-03-08 19:03] Sesquipedalian commented on #4538
I have been looking into it, but it's a tricky one. It's next on my priority list.

[2018-03-09 04:06] #4523 closed, assigned to nobody

[2018-03-09 12:15] XinYenFon opened #4598 "Upgrade.php missing language selector"
A note to reader that issue is already explained in the title ?

[2018-03-09 13:47] albertlast commented on #4598
it's a theme issue right?

[2018-03-10 06:18] albertlast commented on #4583
@sbulen the pr got merge,
so this issue should be fixed.

[2018-03-10 11:39] frandominguezl commented on #4598
Isn't the upgrader supposed to pick up the default language?

https://github.com/SimpleMachines/SMF2.1/blob/1bbcf2bf43d82a61cb1bb94533e8b15a0a5247f4/other/upgrade.php#L478

[2018-03-10 11:49] illori commented on #4594
confirmed this is showing, this has nothing to do with the text we are adding as the ban message as that part is showing up correctly.

this seems to be corrected if the br's are removed from line 389 in security.php

`fatal_error(sprintf($txt['your_ban'], $old_name) . (empty($_SESSION['ban']['cannot_login']['reason']) ? '' : '<br>' . $_SESSION['ban']['cannot_login']['reason']) . '<br>' . (!empty(

[2018-03-10 11:50] illori opened #4600 "banned moderator"
just playing around, i banned a moderator and i get the following errors:
Notice
: Undefined index: moderate in
D:\wamp\www\github2.1\Sources\Subs.php
on line
4353

Notice
: Undefined index: sub_buttons in
D:\wamp\www\github2.1\Sources\Subs.php
on line
4353

Notice
: Undefined index: reports in
D:\wamp\www\github2.1\Sources\Subs.php
on line
4353

Notice
: Undefined index: title in
D:\wamp\www\gith

[2018-03-10 11:54] illori commented on #4594
actually now that is not fixing it, but it must be there as that is about the only spot this is in the source.

maybe we can change it from a title popup to something else that may support having html in it?

[2018-03-10 12:10] illori commented on #4594
on who.php line 431 if you change this line to remove the title, it shows up correctly
`	$data[$k] .= ' <span class="generic_icons error"> ' . $error_message . '</span>';`

maybe we can use the same tooltip that shows on the message index if you hover over the message title?

[2018-03-10 12:10] illori opened #4601 "This ban is not set to expire"
seems this message shows up in a ban even if the ban is set to expire in a set amount of time. i set a ban to expire after 1 day, the user is shown the standard ban message and at the end of the message it says the This ban is not set to expire, which is not correct. it even shows this on the who's online page.

[2018-03-10 12:14] illori opened #4602 "set ban to expire after 1 days"
in the admin page for bans, i modified the ban to expire after 1 day, i clicked on the modify button. i went back to main ban list where it shows the users ban will expire after 1 day(s), i click on modify and it shows that the ban will expire after 0 days. this is a bit confusing as i would expect it would say 1 day as i just set it to 1 day a few minutes ago. 0 days means it should expire today

[2018-03-10 12:16] illori opened #4603 "banned user trying to login"
if you use the login popup while you are banned, it just shows "error" and nothing else where the rest of the page shows your banned message. i think the popup should show the same error if you are not allowed to log in.

[2018-03-10 13:12] albertlast commented on #4600
Could it be that you doesn't got the newst smf 2.1 version?
Because the line of code errors make no sense.

[2018-03-10 13:23] illori commented on #4600
i update my version daily at 12am eastern time automatically. there is 0% chance i have an outdated version unless this was changed in the last 8 hours.

[2018-03-10 13:26] albertlast commented on #4600
but you see that 4353 got nothing:
https://github.com/SimpleMachines/SMF2.1/blob/1bbcf2bf43d82a61cb1bb94533e8b15a0a5247f4/Sources/Subs.php#L4352-L4354

[2018-03-10 13:30] illori commented on #4600
seems that i have been getting an ssl/tls error and it has not been upgrading, i am looking into why i am getting this error.

[2018-03-10 13:37] illori commented on #4600
got that fixed, now the errors are as follows:
Notice
: Undefined index: moderate in
D:\wamp\www\github2.1\Sources\Subs.php
on line
4371

Notice
: Undefined index: sub_buttons in
D:\wamp\www\github2.1\Sources\Subs.php
on line
4371

Notice
: Undefined index: reports in
D:\wamp\www\github2.1\Sources\Subs.php
on line
4371

Notice
: Undefined index: title in
D:\wamp\www\github2.1\Sources\Subs.php
on l

[2018-03-10 14:24] albertlast commented on #4600
Please test the pr #4604

[2018-03-10 17:18] wintstar commented on #4598
https://github.com/SimpleMachines/SMF2.1/pull/4457

[2018-03-10 17:19] frandominguezl commented on #4598
@wintstar That didn't add a dropdown to pick the language, which is what Antes is reporting

[2018-03-10 17:25] Gwenwyfar opened #4605 "Search allows query by wildcard only"
This should probably be forbidden, or you'll get the entire forum as a result.

![wildcard](https://user-images.githubusercontent.com/28991853/37244906-e5c7e482-246e-11e8-8afa-728770ba4bf1.png)

[2018-03-10 17:27] wintstar commented on #4598
Just wanted to point out that there have been recent changes.  In my opinion, no language selection is required in the upgrade process.

[2018-03-10 17:28] albertlast commented on #4605
I think it's a difficult request (no issue in my pov),
because a *a* or '* *' in my eyes very similiar.

[2018-03-10 17:29] Gwenwyfar opened #4606 "Broken HTML in search results"
Some HTML tags seem to be missing the ending > in the "view results as messages" search results.

![html](https://user-images.githubusercontent.com/28991853/37244928-5b13f186-246f-11e8-9449-73379d09820f.png)

[2018-03-10 17:30] frandominguezl commented on #4598
Sure, that's why I left the reference above. Assuming that they've been using their forum and upgrading after a while, forum owners may already have their language set, so no language selection is needed unlike Install.php, where you may want to follow the installation proccess in a language other than English.

[2018-03-10 17:31] albertlast commented on #4606
Can you please write the message also here (i don't want write this down by hand from your pic)

[2018-03-10 17:32] Gwenwyfar commented on #4605
You can't search for "a" because it hits minimum character limit. And I imagine this may be a problem for large forums.

[2018-03-10 17:34] Gwenwyfar commented on #4606
Any bbc tag will do it. Even [img] tags are broken. Just needs to be a post with HTML output in it, it seems.

[2018-03-10 17:34] wintstar commented on #4598
Shouldn't this be regulated by $user_info['language']?

[2018-03-10 17:36] frandominguezl commented on #4598
@wintstar

https://github.com/SimpleMachines/SMF2.1/blob/1bbcf2bf43d82a61cb1bb94533e8b15a0a5247f4/other/upgrade.php#L488

[2018-03-10 17:37] wintstar commented on #4598
That's what I meant.

[2018-03-10 17:40] albertlast commented on #4606
I was mention ``*a*`` and ``* *``

[2018-03-10 17:41] albertlast commented on #4605
I was mention ``*a*`` and ``* *``

[2018-03-10 17:43] Gwenwyfar commented on #4605
Oh. Well, I don't know how much of a problem this can really be, so just leaving this for discussion.

[2018-03-10 17:45] albertlast commented on #4605
for discussion we got the sm.org,
so when this a real issue is than we need to fix it.
When we like to discuss about this than is here the wrong place.

[2018-03-10 17:46] albertlast commented on #4598
because the user favor language is choosen by the upgrade process,
i see no need for a drop down selection.

[2018-03-10 18:20] albertlast commented on #4606
the message:
[code]

[2018-03-10 18:26] albertlast opened #4607 "quick edit looks like a disable text field"
when you quick edit a text
![grafik](https://user-images.githubusercontent.com/1782906/37245471-97a966f2-2498-11e8-84ed-685aaa3c63f1.png)
and you got you mouse over the text:
![grafik](https://user-images.githubusercontent.com/1782906/37245478-b6b67f9e-2498-11e8-82a8-36481946b65d.png)
than the text look like it's disable for change,
when the mouse is removed the text got a normal white background

[2018-03-10 18:51] frandominguezl commented on #4607
I think it doesn't look like disabled, it's just a hover effect on the box. I'd leave it as it is.

[2018-03-10 20:30] albertlast commented on #4606
broken html exists only in mysql,
will check this tomorrow.

[2018-03-10 20:30] albertlast commented on #4605
wildcard ``**`` search works only in mysql,
will look into tomorrow what the diff between pg and mysql logic is.

[2018-03-10 20:52] Sesquipedalian commented on #4607
I agree that it looks strange to make the background grey on hover. Removing the following from index.css would solve this:
[code]
Care to put together a quick PR for that, @albertlast?

[2018-03-10 20:53] #4598 closed, assigned to nobody

[2018-03-10 20:55] albertlast commented on #4607
i was thinking @Gwenwyfar would do this.
i see me more in the search issues,
maybe in the ban stuff.

[2018-03-10 22:29] Pipke opened #4609 "wrong profile field sig above and below"
@Sesquipedalian , the last fixes aren't correct coded

https://github.com/SimpleMachines/SMF2.1/blob/1bbcf2bf43d82a61cb1bb94533e8b15a0a5247f4/Themes/default/Profile.template.php#L441

and

https://github.com/SimpleMachines/SMF2.1/blob/1bbcf2bf43d82a61cb1bb94533e8b15a0a5247f4/Themes/default/Profile.template.php#L466

should be:
[code]
otherwise the check statement below these lines isnt function (o

[2018-03-10 22:33] Sesquipedalian commented on #4609
Oops! Copy-paste error, I suppose. :)

Regarding the CSS, I agree.

[2018-03-10 23:53] Pipke commented on #4609
the css edit change i suggested above must not be done as the other ul styles in the id element need the 10px margin top, i think its better to add another css style wich only effects the first ul in the id element (above name)
[code]

[2018-03-11 07:05] sbulen opened #4611 "Image proxy issue: content size not validated"
We should probably do an edit on content-length before serving up the header.   Some browsers object to a size of -1.

Apparently not all servers serve up the content size in the header...   Case in point:
https://www.simplemachines.org/community/index.php?topic=559269.0

[2018-03-11 07:19] Sesquipedalian commented on #4611
This is already fixed in #4593. See [here](https://github.com/SimpleMachines/SMF2.1/pull/4593/files#diff-95dde0693614aded154dc51012aba3b8R211).

[2018-03-11 07:19] #4611 closed, assigned to nobody

[2018-03-11 07:23] #4579 closed, assigned to nobody

[2018-03-11 07:23] #1401 closed, assigned to Gwenwyfar

[2018-03-11 07:29] #4600 closed, assigned to nobody

[2018-03-11 12:36] Gwenwyfar commented on #4607
We need to add a better hover (and focus) effect on all inputs. Also needed for those who navigate using a keyboard. Thanks for bringing this up :)

[2018-03-11 16:42] #4609 closed, assigned to nobody

[2018-03-11 17:46] sbulen commented on #4611
This needs to be reopened.  The line of code points to bypasses caching for images that are too large.

The problem here is the opposite: when the headers don't provide a content-length, curl returns a content-length of -1, which we store when we cache the image.   Some servers cleanse the bogus value, some don't.   When it's not cleansed, some browsers (IE and IOS) fail.

[2018-03-11 17:46] sbulen commented on #4611
Correction - I just re-read it  - looks good.

[2018-03-11 19:14] #4581 closed, assigned to nobody

[2018-03-11 20:10] sbulen commented on #4582
This needs to be reopened.  It did not work - I was still able to select persistent connections in my environment where they are disabled.

This may be low priority?  Not sure how many folks would encounter this?

Latest from git, as of now.  linux, php7.1, mysql 5.5.

[2018-03-11 20:12] albertlast commented on #4582
did you disable javascript on your smf?

[2018-03-11 20:12] sbulen commented on #4582
No -

[2018-03-11 20:27] sbulen commented on #4611
Also, to be safe, just retested.  Looks good.

[2018-03-11 21:05] sbulen commented on #4582
Confirmed - your new PR works.

[2018-03-11 21:10] sbulen commented on #4581
This one is not working for me.  Same behavior as before.

I have a version of proxy.php that used the OLD fetch_web_data that works - something feels lost in translation....   I'm not sure what the issue is at this point...

[2018-03-11 21:35] Sesquipedalian commented on #4581
If the remote server is sometimes blocking your IP address, that is probably the cause. The only substantial change in 6cea2aa is the order in which the curl and fsockopen methods are attempted.

[2018-03-11 22:18] sbulen commented on #4581
In my 2.0 forum, I just swapped out the curl call with fetch_web_data and it works.  I'm not sure why there is a difference.  I'll take a peek & see if I can understand why.  If I find something I'll open a new issue.

[2018-03-11 22:27] sbulen commented on #4583
This tests clean now.

[2018-03-11 22:27] #4583 closed, assigned to nobody

[2018-03-11 23:44] smfbigguy commented on #2199
Just asking but is this an issue any more. I find the logs useful and nice to view once and awhile. The order could be changed though I guess, but really it seems fine, why mess with it. (Just my opinion)

[2018-03-12 10:23] illori opened #4617 "show alerts checkboxes"
http://localhost:8080/github2.1/index.php?action=profile;area=showalerts;u=1

on the above page it has checkboxes shown so that actions can be taken on all or some alerts. i have quick moderation set as icons, IMO the checkboxes should not show on this page when i have icons set.

[2018-03-12 10:25] illori opened #4618 "errors after banning"
Notice
: Undefined index: reported_members in
D:\wamp\www\github2.1\Sources\Subs.php
on line
4412

Notice
: Undefined index: title in
D:\wamp\www\github2.1\Sources\Subs.php
on line
4412

this user was banned and now has logged into the forum after being logged out... the above errors showed in the header after the user logged in.
after refreshing the page the errors did NOT go away

also this memb

[2018-03-12 10:27] illori commented on #4618
error log has the following

Type of error: Undefined 							 							8: Undefined index: href 							 							http://localhost:8080/github2.1/index.php?  							 													 D:/wamp/www/github2.1/Themes/default/index.template.php (Line 512) |

test 							 							Today at 06:23 am 							 							::1 							 							 							85b15b18814b1c8bb3e3e24e93d0f616 						 						 							 							Type of error

[2018-03-12 10:34] illori opened #4619 "cron.php error"
Type of error: Critical
The database value you're trying to insert does not exist: id_member
Function: logActions http://localhost:8080/github2.1/cron.php
D:/wamp/www/github2.1/Sources/Logging.php (Line 567)

submitted request to join a membergroup the above error was logged in the error log.

[2018-03-12 10:43] illori opened #4620 "join membergroup possible issues."
Your request to join test has been rejected - Today at 06:29 am

if we are rejecting a request to join a group without leaving a message, should we really be letting the user know?

even though it does not say who rejected the request it could leave a lot of questions with few answers.

also when a user has been accepted, it does not seem to give an alert related to that but it does for a rejectio

[2018-03-12 10:47] illori opened #4621 "group membership"
if you enter your profile and look though the menu it seems group membership is completely missing, you can access it from the profile drop down in the header but not from within the profile itself.

it takes you to this page http://localhost:8080/github2.1/index.php?action=profile;area=groupmembership;u=1

also why can the admin change to registered members group(which i dont agree with the name

[2018-03-12 14:17] XinYenFon commented on #4598
This creates inconsistency between Install & Upgrade.

[2018-03-12 19:44] replikacep commented on #4567
updated I guess Close is it OK

[2018-03-12 20:05] betonkamil opened #4622 "the team has collapsed"
https://www.elkarte.net/  they wrote from scratch  you are not finished yet throw yourself get rid of

What have you been doing for 4 years  you smf yi toy you did

smf is supposed to be a toy

[2018-03-12 20:15] gevv opened #4623 "Beta 4 Sing Up Errors Database connection error or not allowed to access"
Hi,

2.0.15 update smf 2.1 beta 4 New member can not register

action=signup2 page error

**Local  host wamp server error (php 5.4.16);**

_An Error Has Occurred
You are not allowed to access this section_

**Real host (php7):**

_Database Error
Please try again. If you receive the error message again, please forward the error to the administrator._

**Edit:** mod error not a bug

[2018-03-12 20:31] betonkamil commented on #4622
finish now it has lasted too long 4 years

[2018-03-12 20:32] albertlast commented on #4623
The error sounds more like a settings error on your side,
so the forum works in general only on signup2 the error apears?

[2018-03-12 20:41] colinschoen commented on #4622
Thanks for your productive comments.

[2018-03-12 20:41] #4622 closed, assigned to nobody

[2018-03-12 20:52] gevv commented on #4623
Forum is working normally, just can not register new member

action=signup   page  working  click "sing up"  button load step 2  action=signup2 page error

[2018-03-12 21:04] albertlast commented on #4623
please check you php_error_log,
maybe ther are more information.

[2018-03-13 05:48] albertlast commented on #4606
While looking at the code i hat to ask if this realy an issue?
Because you search for everything because of ``**``,
everything means you also find/match html tages,
since they get highlighted(with bold etc.) stuff get broken.

In my eyes is this an edge case.

[2018-03-13 10:23] illori opened #4624 "messages menu item"
the messages menu item when within the inbox takes you to writing a new PM, i think it should take you back to the inbox instead. more then likely you want to view your existing PM's rather then trying to write a new PM each time.

[2018-03-13 10:30] illori opened #4625 "&quot; in reported PM"
i issued a warning to a user, i went into the PM received and reported it to admin, the resulting message the admin received had

`Quote from: &quot;github2.1&quot;`

if i quote the message it has in it
`[quote author=github2.1]` which has no quotes in it at all

if i reported a normal message sent between users there is no $quot; present

[2018-03-13 14:44] Gwenwyfar commented on #4621
I see "Group membership" under the "Forum profile" tab here (when inside a profile).

The avatar display is odd. I'll look into it.

[2018-03-13 14:54] illori commented on #4621
Are you looking as admin or as a user? I think what you are seeing is the
page that shows what groups you are in but has not option to join groups.

On Tue, Mar 13, 2018, 10:44 AM Gwenwyfar <notifications@github.com> wrote:

[2018-03-13 14:59] Gwenwyfar commented on #4621
I see it both as admin and as a normal user, links to `action=profile;area=groupmembership;u=2`

[2018-03-13 15:05] illori commented on #4621
Strange I just tried it again and you are right. I reported another related
issue and could not have if this was missed.

On Tue, Mar 13, 2018, 10:59 AM Gwenwyfar <notifications@github.com> wrote:

[2018-03-13 15:28] gevv commented on #331
@Antes  hocam  bu hatayı wamp serverde  2.0.15 den beta 4 e geçiş yaparken almıştım bir kaç defa ""click here""  linkine tıklayıp geçtim  güncelleme yapıldı  ama asıl sunucuda  işe yaramadı

"""""14% Overall Progress
0.2%Step Progress

Database Changes
Executing database changes
Please be patient - this may take some time on large forums. The time elapsed increments from the server to show progres

[2018-03-13 15:29] XinYenFon commented on #331
Use English, and please do not tag me.

[2018-03-13 16:58] gevv opened #4626 "2.0.15 to 2.1 Beta 4 Database Changes Error Server has not responded for 30 seconds"
Hi,

large data base changes error

14% Overall Progress
0.2%Step Progress

Database Changes
Executing database changes
Please be patient - this may take some time on large forums. The time elapsed increments from the server to show progress is being made!
Executing upgrade script 1 of 2.
Executing: "Changing column names." (1 of 41 - of this script)

Error!
Server has not responded for 30 seconds

[2018-03-13 20:00] #4623 closed, assigned to nobody

[2018-03-13 22:09] smfbigguy commented on #4626
If your just looking for help upgrading or installing please post on Simple Machines web site in the appropriate board and I am sure someone will help you soon enough.

[2018-03-14 06:41] gevv commented on #4626
ok.  thanks

[2018-03-14 06:41] #4626 closed, assigned to nobody

[2018-03-14 17:05] albertlast opened #4627 "Upgrader Undefined index: updating_smf_installation"
PHP Notice:  Undefined index: updating_smf_installation in /.../upgrade.php on line 225
https://github.com/SimpleMachines/SMF2.1/blob/754615c07867925a1e3d7eb953109fde05c24386/other/upgrade.php#L225

https://www.simplemachines.org/community/index.php?topic=559327.msg3965459#msg3965459

[2018-03-14 17:47] wintstar commented on #4627
https://github.com/SimpleMachines/SMF2.1/blob/16c15bdd66f5f1e151be4e56d5dcd1b0e56f5d0a/Themes/default/languages/Install.english.php#L337

I think he doesn't have the current language pack.

https://github.com/SimpleMachines/SMF2.1/pull/4591/files

[2018-03-15 04:34] #4627 closed, assigned to nobody

[2018-03-15 13:08] Kindred-999 opened #4628 "Please put "forum width" back as a theme setting"
Someone removed the setting for Forum Width from the admin/themes settings and now forces it to be very narrow.

This is a really bad choice, IMO - especially for those of us who like a full screen width view.

Although it can be changed in CSS, this should be settable without editing core files.
Also, it should be seriously considered and reviewed before removing existing functionality from the U

[2018-03-16 08:18] #4567 closed, assigned to nobody

[2018-03-16 08:18] #4575 closed, assigned to nobody

[2018-03-16 15:30] XinYenFon commented on #4628
if such setting is added back to core, it also requires another setting for max-width otherwise SMF will stop the admin at 1200px which makes the setting irrelevant.

[2018-03-16 15:55] Gwenwyfar commented on #4628
No, it will be added as a max-width setting. Fixed width would be a mess, we don't need that.

[2018-03-16 17:00] Sesquipedalian commented on #4628
🤨 That change was before my time, but I am quite certain that it was seriously considered and reviewed.

If you don't agree with a decision the developers made, by all means feel free to start a discussion and request changes. But don't presume to lecture the developers on how to do their work if in the process of doing that work they make decisions that you don't like. That is less than endearing

[2018-03-16 20:33] wintstar opened #4631 "Smiley Tooltip not work"
Version Information:
Forum version: SMF 2.1 Beta 4 (more detailed)
Current SMF version: SMF 2.1 Beta 3
GD version: bundled (2.1.0 compatible)
MySQLi engine: MariaDB
MySQLi version: 10.1.29-MariaDB
Alternative PHP Cache: 5.1.2
PHP: 7.1.11 (more detailed)
Server version: Apache/2.4.29 (Win32) OpenSSL/1.0.2l PHP/7.1.11

Tested with the last Pull Request from today

Smiley Tooltip not work

![smiley-t

[2018-03-16 23:36] equinoxmatt commented on #4589
@wintstar   changes have been made to the PR to fix memberlist. If you could re-test that would be much appreciated :+1:

[2018-03-17 02:47] Kindred-999 commented on #4628
I searched but could not find anything obvious about when the change happened, nor any discussion regarding the change.   So, as far as I can tell, it was not widely discussed or considered beyond some (incorrect) assumption that removing it was needed for responsiveness.  So, please don’t lecture me.

Also, it’s not my job nor in my personality to be endearing. ;P I call ‘em as I see ‘em, and I a

[2018-03-17 02:52] Kindred-999 commented on #4628
Correction, I found the pull request, #4328 back in Sept...
Seems to have only been a brief comment between you and Gwen

[2018-03-17 03:57] Sesquipedalian commented on #4628
Seems to have only been a brief comment between you and Gwen

That's not the PR that removed the admin-configurable width setting. That's the PR in which @Gwenwyfar added a max-width value in the CSS. Those are different things.

A lack of awareness on your part is evidence only of a lack of awareness on your part. 😉
#2858

... but I did say please. ;)

I suppose it never has been your strong suit

[2018-03-17 04:57] Kindred-999 commented on #4628
Ah... I didn’t go back that far...

But, I was correct , the decision was made based on a faulty assumption.

[2018-03-17 07:49] Sesquipedalian commented on #4628
Well, no. It was established quickly in that discussion that changing the behaviour of the setting from imposing a width to imposing a max-width would was all that was necessary to make it work with responsive design. The decision was made to remove the setting entirely because the majority view at that time that such behaviour would be better left to a mod. So, no, not based on a faulty assumptio

[2018-03-17 08:29] wintstar commented on #4628
More and more people are using the mobile Internet. There's no point in reintroducing the "forum width". @Kindred-999 Create a modification or your own theme with the corresponding width. I don't think this is here the place to discuss it. Create a poll of simpelmachines.org who is for the "forum width" and who is not.

[2018-03-17 08:47] wintstar commented on #4589
@equinoxmatt works. :+1:

But
https://github.com/SimpleMachines/SMF2.1/pull/4574/files#diff-a2aa83d2eff230e8a37219a7407dbf4eR667

https://github.com/SimpleMachines/SMF2.1/pull/4574/files#diff-aadb001b2153c8ec26308ac0f21e4ed2R976

should not be a comma in the end

`'{KEY}' => $currentKey`

thats right?
`'{KEY}' => $currentKey,`

[2018-03-17 08:57] wintstar commented on #4589
Sorry, I just received an error message.

My databse
![cust-gender_1](https://user-images.githubusercontent.com/2753863/37553575-4ecccf2c-29cb-11e8-98ea-1525a62ab110.PNG)

![cust-gender_2](https://user-images.githubusercontent.com/2753863/37553576-5775d894-29cb-11e8-81a2-474c1a15f766.PNG)

![cust-gender_3](https://user-images.githubusercontent.com/2753863/37553579-5d9273f4-29cb-11e8-8a40-49c86b22e

[2018-03-17 10:59] equinoxmatt commented on #4589
@wintstar   the comma at the end of the line isn't necessary as its the last element in the array.

EDIT: You are using an ugpraded board correct?

I believe that existing members won't have a cust_gender set for the theme, only new members have it set as part of the sign-up process.

@Sesquipedalian @albertlast  - The quick fix for this error would be to put an isset() round it.  However this iss

[2018-03-17 11:45] wintstar commented on #4589
No, based of a new install with Database Upgrades of the last Pull Reqeusts.

There is a displaying error. The columns are not at the same height.
![gender_10](https://user-images.githubusercontent.com/2753863/37554998-f2127758-29e0-11e8-93eb-cea0046529b2.png)

[2018-03-17 13:54] smfbigguy commented on #4594
Can someone please read the email I sent to simplemachines. It is named "password for bigguy" It was sent from wubforum@gmail.com My hard drive crashed and I lost my passwords. I don't remember the email I registered under. I have tried the reset password option a few times.

[2018-03-17 14:02] Gwenwyfar commented on #4628
And I guess you missed it, but that issue had been posted in the forum discussion too.

@Sesquipedalian, it doesn't make much difference for me either way. A mod would be fine by me too, but it may still be less effort to just re-add it (and, apparently, less fuss too).

[2018-03-17 14:21] tinoest commented on #4628
Personally I prefer it without a width set. It displays nicely on all my browsers be it mobile or desktop.

Each to there own. The alternative is to have it as a setting which the forum owner can enable / disable.

[2018-03-17 14:32] Gwenwyfar commented on #4628
@tinoest that is not a concern, it will be reintroduced as max-width. Width is out of question.

[2018-03-17 14:38] tinoest commented on #4628
I’ll reserve judgement until I can view the change.

Most of my Desktop Displays are 3840 x 2160.

This original issue states adding a width mind, so max-width won’t fix the issue will it?

[2018-03-17 14:57] sbulen opened #4636 "Upgrader - Language issues if pre-existing non-English language in effect at time of upgrade"
If you have a non-English language chosen (e.g., Turkish UTF8), and you do NOT clear out your /themes directory prior to the 2.1 upgrade, two issues happen.
(1) LOTS of undefined index messages
(2) The DB appears to hang at the start of the database updates

See this thread:
https://www.simplemachines.org/community/index.php?topic=559327.0

Screenshot here:
![image](https://user-images.githubuserc

[2018-03-17 15:03] sbulen commented on #4636
Albertlast submitted a PR #4635  for this.

I still have a question, and maybe it's a process question - We just did all this work to support other languages during the 2.1 install.

Exactly how is this supposed to work?   How do you install the 2.1 language file prior to installation?

[2018-03-17 15:15] wintstar commented on #4636
So far it was sufficient to insert the respective language package into the directory Themes/default/languages before the installation or upgrade. That's how I did it with my German language pack and it worked.

[2018-03-17 15:24] sbulen commented on #4636
Thanks!   I didn't even know where to find them.  I just found them on the support site...  I'd been looking for them on Github...

So yes, I guess that if you extract the 2.1 files & extract your desired language, you should be OK.  As long as the language pack is in sync with the 2.1 code.

But the 2.1b3 packs aren't in sync with 2.1b4, so this is hard to test at the moment.  Hard for users to f

[2018-03-17 15:27] Gwenwyfar commented on #4628
The current 2.1 version is already using a max-width. The only change is allowing admins to modify the value through the interface.

If we're going to be strict to the issue request then we can close and open a new one... Width won't be added back. It would break things in multiple ways and there is no benefit in relation to max-width.

And honestly, there's already too much over-complication over

[2018-03-17 15:34] wintstar commented on #4636
Yes, i think the language packages on simpelmachines.org for SMF 2.1 Beta* are not up to date  with the Github Pull Requests.. Therefore I completely retranslated the German language package to test SMF 2.1Beta* in German language => http://www.stephan-frank.de/board/index.php/topic,11.0.html.

[2018-03-17 15:39] wintstar commented on #4628
The default theme is just the default. Everyone can create his own themes according to his needs as he wants them to be. And via Settings.template.php you can insert any desired theme function. That is why I personally find the discussion about this unnecessary.

[2018-03-17 15:54] Gwenwyfar commented on #4628
Indeed.

Let me just get one thing clear: All this is about moving one number already in the css to a setting that can be modified in the admin interface. That's all there is to this. Let's not waste any more time in this discussion than already has been.

[2018-03-17 17:43] sbulen commented on #4636
If that's the case, then, I think this should be closed once albertlast's PR is tested & applied.

[2018-03-18 00:11] lurkalot opened #4637 "Browse button in package manager"
2.1 Beta 4.
![bbchrome](https://user-images.githubusercontent.com/6047983/37561205-b114d6d2-2a40-11e8-9d24-38e5f95e381d.png)
![bbedge](https://user-images.githubusercontent.com/6047983/37561206-b163005a-2a40-11e8-9281-10f9c28ae1b9.png)
![bbfirefox](https://user-images.githubusercontent.com/6047983/37561207-b178e4ce-2a40-11e8-9455-81a2a2c3b5b9.png)
![bbie11](https://user-images.githubusercontent.co

[2018-03-18 03:28] Gwenwyfar commented on #4637
Inputs and scrollbars are different across browsers, not much we can do.

The height is an issue on a few elements, not just this one. I was already making a patch for this, but as usual inputs like to do their own thing whenever they feel like it, still haven't gotten something that consistent.

[2018-03-18 05:07] albertlast commented on #4594
After short google,
i found a possible solution which add to all title the option to got html tages:
https://stackoverflow.com/questions/13066909/how-to-break-line-in-jqueryui-tooltip/25819731#25819731
@Gwenwyfar what is your opinion?

[2018-03-18 10:52] lurkalot commented on #4637
Removing these lines 74-76 in index.css seems to fix it for me.

input, select, .button {
	height: 25px;
}

![bb2chrome](https://user-images.githubusercontent.com/6047983/37565076-3428590a-2a9a-11e8-8a56-3cee713d924e.png)
![bb2edge](https://user-images.githubusercontent.com/6047983/37565077-3446d39e-2a9a-11e8-9eec-ee01b8d49111.png)
![bb2firefox](https://user-images.githubusercontent.com/6047983/37

[2018-03-18 11:38] Kindred-999 commented on #4628
Right. Gwenwyfar’s statement is exactly correct.

[2018-03-18 11:49] XinYenFon commented on #4637
I introduced this bug while leveling inputs / buttons at the same level, this should fix it

[code]

[2018-03-18 12:33] Gwenwyfar commented on #4637
Yeah, that's why I said this is not the only place that has an issue, others aren't as simple.

[2018-03-18 12:34] Gwenwyfar commented on #4594
I think titles should not be used as large tooltips. If we want a tooltip we should use one, and that can be done with some css or we can use the popups (better display on mobile).

It seems to me that title text shouldn't even be there. It should just display "This user has been banned", and maybe make it a link to more info (popup or link to the ban log).

[2018-03-18 17:53] gevv commented on #4606
hi,

beta 4 search results   only looks  `<br />`

modify post  (without changing anything)

search results br  codes does not appear

the search  results look normal

[2018-03-18 21:24] illori commented on #4594
this did not exist in SMF 2.0, would it just be easier to remove this feature completely? i dont think anyone would miss it and that would resolve this issue with little effort.

[2018-03-19 01:20] smfbigguy commented on #4594
Just something simple like banned member is all it needs.

[2018-03-19 12:33] Gwenwyfar commented on #4594
Seems like a good option to me. Just need to change the string.

[2018-03-20 09:49] wintstar opened #4642 "filesize(): stat failed"
Version Information:
Forum version: SMF 2.1 Beta 4 (more detailed)
Current SMF version: SMF 2.1 Beta 3
GD version: bundled (2.1.0 compatible)
MySQLi engine: MariaDB
MySQLi version: 10.1.29-MariaDB
Alternative PHP Cache: 5.1.2
PHP: 7.1.11 (more detailed)
Server version: Apache/2.4.29 (Win32) OpenSSL/1.0.2l PHP/7.1.11

Tested with the last Pull Request #4641 from today.

This error appears when New